
<div class="component-split-container">

    <div class="component-slideout">

        <div class="component-create-container">

            <div class="component-slide-header">
                <div class="component-slide-header-label">
                    <span>@Html.Raw(ILocalize.GetLocalizedLabel("Component.Label.Header.New.Unit"))</span>
                </div>
                <button type="button" class="component-new-close" title='@Html.Raw(ILocalize.GetLocalizedLabel("Component.Label.Close"))'>
                    <span><i class="mdi mdi-close"></i></span>
                </button>
            </div>

            <div class="component-slide-content">

                <form id="form-unit-new" method="post">
                    <div class="field-group">
                        <label for="tfNewUnitCode" class="form-label text-right">UNIT CODE</label>
                        <input type="text" class="form-control" id="tfNewUnitCode" name="tfNewUnitCode" placeholder="ENTER CODE">
                    </div>

                    <div class="field-group">
                        <label for="tfNewUnitName" class="form-label text-right">UNIT NAME</label>
                        <input type="text" class="form-control" id="tfNewUnitName" name="tfNewUnitName" placeholder="ENTER NAME">
                    </div>

                    <div class="field-group-box">
                        <div class="field-group">
                            <label for="dpNewDepartments" class="form-label text-right select2-field select2-column">
                                DEPARTMENT
                                <select class="js-departments form-control"
                                        id="dpNewDepartments"
                                        name="dpNewDepartments"
                                        aria-labelledby="dpNewDepartments-label"
                                        aria-describedby="dpNewDepartments-description">
                                    <option value="">@Html.Raw(ILocalize.GetLocalizedLabel("Component.Label.Departments.Select"))</option>
                                </select>
                                <span id="dpNewDepartments-description" class="sr-only">
                                    Use arrow keys to navigate options. Press Enter to select.
                                </span>
                            </label>

                        </div>
                    </div>

                    <div class="field-group">
                        <button id="btnUnitNew" type="submit" class="btn btn-primary" style="width:200px">
                            @Html.Raw(ILocalize.GetLocalizedLabel("Button.Submit"))
                        </button>
                    </div>
                </form>

            </div>

        </div>

        <div class="component-edit-container">

            <div class="component-slide-header">
                <div class="component-slide-header-label">
                    <span>@Html.Raw(ILocalize.GetLocalizedLabel("Component.Label.Header.Edit.Unit"))</span>
                </div>
                <button type="button" class="component-edit-close" title='@Html.Raw(ILocalize.GetLocalizedLabel("Component.Label.Close"))'>
                    <span><i class="mdi mdi-close"></i></span>
                </button>
            </div>

            <div class="component-slide-content">
                <form id="form-unit-new" method="post">
                    <div class="field-group">
                        <label for="tfEditUnitCode" class="form-label text-right">UNIT CODE</label>
                        <input type="text" class="form-control" id="tfEditUnitCode" name="tfEditUnitCode" placeholder="ENTER CODE">
                    </div>

                    <div class="field-group">
                        <label for="tfEditUnitName" class="form-label text-right">UNIT NAME</label>
                        <input type="text" class="form-control" id="tfEditUnitName" name="tfEditUnitName" placeholder="ENTER NAME">
                    </div>

                    <div class="field-group-box">
                        <div class="field-group">
                            <label for="dpEditDepartments" class="form-label text-right select2-field select2-column">
                                DEPARTMENT
                                <select class="js-departments form-control"
                                        id="dpEditDepartments"
                                        name="dpEditDepartments"
                                        aria-labelledby="dpEditDepartments-label"
                                        aria-describedby="dpEditDepartments-description">
                                    <option value="">@Html.Raw(ILocalize.GetLocalizedLabel("Component.Label.Departments.Select"))</option>
                                </select>
                                <span id="dpEditDepartments-description" class="sr-only">
                                    Use arrow keys to navigate options. Press Enter to select.
                                </span>
                            </label>

                        </div>
                    </div>

                    <div class="field-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="isDeleted" name="isDeleted">
                            <label class="form-check-label" for="exampleCheck1">DEACTIVATE UNIT</label>
                        </div>
                    </div>

                    <div class="field-group">
                        <button id="btnUnitEdit" type="submit" class="btn btn-primary" style="width:200px">
                            @Html.Raw(ILocalize.GetLocalizedLabel("Button.Submit"))
                        </button>
                    </div>
                </form>

            </div>
        </div>

    </div>

    <div class="component-split-table-container">
        <div class="table-container">
            <table id="departmentUnitsTable" class="table is-fullwidth is-striped">
                <thead>
                    <tr>
                        <th width="120">@Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Label.Code"))</th>
                        <th>@Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Label.Unit.Name"))</th>
                        <th>@Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Label.Department"))</th>
                        <th>@Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Label.Active"))</th>
                        <th>@Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Label.Created"))</th>
                    </tr>
                </thead>
                <tbody id="departmentUnitsTableBody"></tbody>
            </table>
        </div>

        <div class="component-tabletools-container">
            <div class="component-slide-header">
                <div class="component-slide-header-label">
                    <span>@Html.Raw(ILocalize.GetLocalizedLabel("Component.Label.Header.Filter"))</span>
                </div>
                <button type="button" class="component-filter-close" title='@Html.Raw(ILocalize.GetLocalizedLabel("Component.Label.Close"))'>
                    <span><i class="mdi mdi-close"></i></span>
                </button>
            </div>

            <div class="component-slide-content">
                <span>Filters goes here</span>
            </div>
        </div>

    </div>
</div>
