@model AdminDashboardModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "GRC ADMIN";

    var userCards = Model.Statistics.Users;
    var bugCards = Model.Statistics.Bugs;
}

<div class="welcome-container">
    <div class="welcome-container-message">
         <span class="display-1">@Model.WelcomeMessage</span>
    </div>
    <div class="incon-container-expand">
        <button id="expandBtn" type="button" class="icon-btn">
            <span>
                <i id="toggleIcon" class="mdi mdi-arrow-expand"></i>
            </span>
        </button>
    </div>
   
</div>

<div class="action-box">
    <div class="title-box">
        <h3 class="display-1 action-box-title">@Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Dashboard.Labels.Quick"))</h3>
        <span class="title-line"></span>
    </div>

    @await Component.InvokeAsync("QuickActions", new { model = Model.QuickActions })
</div>

<div class="dashboard-grid">

    <div class="stats-grid">

        <div class="title-box">
            <h3 class="display-1 stats-grid-title">@Html.Raw(ILocalize.GetLocalizedLabel("App.Admin.Dashboard.Labels.SystemUsers"))</h3>
            <span class="title-line"></span>
        </div>

        <div class="stats-content">
            @foreach (var card in userCards)
            {
                <div class="stat-card stat-card-light">
                    <div class="stat-title"><span>@card.Title</span></div>
                    <div class="stat-number"><span>@card.Value</span></div>
                    <span class="stat-separator @card.CssClass"></span>
                    <a class="stat-link" asp-controller="@card.Controller" asp-action="@card.Action" asp-area="Admin">
                        <span><i class="mdi mdi-chevron-right"></i></span>
                        <span>@Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Dashboard.SeeMore"))</span>
                    </a>
                </div>
            }
        </div>
    
    </div>

    <div class="stats-grid">

        <div class="title-box">
            <h3 class="display-1 stats-grid-title">@Html.Raw(ILocalize.GetLocalizedLabel("App.Admin.Dashboard.Labels.BugTracking"))</h3>
            <span class="title-line"></span>
        </div>

        <div class="stats-content">
            @foreach (var card in bugCards)
            {
                <div class="stat-card stat-card-colored">
                    <div class="stat-title"><span>@card.Title</span></div>
                    <div class="stat-number"><span>@card.Value</span></div>
                    <span class="stat-separator @card.CssClass"></span>
                    <a class="stat-link-color" asp-controller="@card.Controller" asp-action="@card.Action" asp-area="Admin">
                        <span><i class="mdi mdi-chevron-right"></i></span>
                        <span>@Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Dashboard.SeeMore"))</span>
                    </a>
                </div>
            }
        </div>
    
    </div>

    <div class="bugs-box">

        <div class="title-box">
            <h3 class="display-1 stats-grid-title">@Html.Raw(ILocalize.GetLocalizedLabel("App.Admin.Dashboard.Labels.RecentActivities"))</h3>
            <span class="title-line"></span>
        </div>

        <div class="table-container">
            <table id="tblActivity" class="table is-fullwidth is-striped">
                <thead>
                    <tr>
                        <th>@Html.Raw(ILocalize.GetLocalizedLabel("App.Tables.Headers.User"))</th>
                        <th>@Html.Raw(ILocalize.GetLocalizedLabel("App.Tables.Headers.Email"))</th>
                        <th>@Html.Raw(ILocalize.GetLocalizedLabel("App.Tables.Headers.Action"))</th>
                        <th>@Html.Raw(ILocalize.GetLocalizedLabel("App.Tables.Headers.Time"))</th>
                        <th>@Html.Raw(ILocalize.GetLocalizedLabel("App.Tables.Headers.Description"))</th>
                    </tr>
                </thead>
                <tbody id="activityTable"></tbody>
            </table>
        </div>
    </div>

</div>


