@model PolicyRegisterViewModel

<div class="grc-tabulator-container">

    <div class="grc-tabulator-search">
        <div class="field-search-group">
            <label class="form-searchbox-label text-right">
                @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Search.Circular-register"))
            </label>
            <input id="circularSearchbox" type="text" class="form-control searchbox-field">
        </div>
        <div class="field-search-buttons">
            <button id="btnExportCircular" class="btn btn-primary">
                <i class="mdi mdi-file-excel-outline"></i> @Html.Raw(ILocalize.GetLocalizedLabel("App.Label.ExportFiltered"))
            </button>
        </div>
    </div>
    <div id="circular-register-table"></div>
</div>

<!-- Overlay -->
<div id="circularOverlay" class="obligation-panel-overlay"></div>

<div id="circularPanel" class="obligation-side-panel" onclick="event.stopPropagation()">

    <div class="obligation-side-panel-header">
        <h3 id="paneTitle">@Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Circular.Header"))</h3>
        <button class="panel-close" onclick="closeCircularPanel()">
            <i class="mdi mdi-close"></i>
        </button>
    </div>

    <div class="obligation-side-panel-body">

        <form id="circularForm" class="grc-law-form">
            <input type="hidden" id="circularId" name="circularId">
            <input type="hidden" id="isCircularEdit" name="isCircularEdit">

            <!-- Tabs header -->
            <ul class="nav nav-tabs" id="obligationTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="details-tab" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab">
                        CIRCULAR DETAILS
                    </button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="controls-tab" data-bs-toggle="tab" data-bs-target="#issues" type="button" role="tab">
                        CIRCULAR ISSUES
                    </button>
                </li>

            </ul>

            <!-- Tabs content -->
            <div class="tab-content">

                <!--details tab -->
                <div class="tab-pane fade show active" id="details" role="tabpanel">

                    <div class="row">

                        <div class="col-12">

                            <div class="tab-page-content">

                                <div class="tab-page-content-inner">

                                    <div class="row">

                                        <div class="col-12">

                                            <div class="row mb-3">
                                                <label for="reference" class="col-12 form-label">
                                                    @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Circular.Label.Reference"))
                                                </label>
                                                <div class="col-12">
                                                    <input type="text" class="form-control" id="reference" required>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label for="circularTitle" class="col-12 form-label">
                                                    @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Circular.Label.Title"))
                                                </label>
                                                <div class="col-12">
                                                    <input type="text" class="form-control" id="circularTitle" required>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label for="circularRequirement" class="col-12 form-label">
                                                    @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Circular.Label.Requirement"))
                                                </label>
                                                <div class="col-12">
                                                    <textarea class="form-control" id="circularRequirement" rows="4"></textarea>
                                                </div>
                                            </div>

                                            <div class="row mb-3">

                                                <div class="col-6">
                                                    <div class="row mb-3">
                                                        <label for="recievedOn" class="col-sm-12 col-form-label">
                                                            @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Circular.Label.ReceiveDate"))
                                                        </label>
                                                        <div class="col-sm-12">
                                                            <input type="text" id="recievedOn" name="recievedOn" class="form-control datepicker" placeholder="MM/DD/YYYY" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row mb-3">
                                                        <label for="deadline" class="col-sm-12 col-form-label">
                                                            @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Circular.Label.Deadline"))
                                                        </label>
                                                        <div class="col-sm-12">
                                                            <input type="text" id="deadline" name="deadline" class="form-control datepicker" placeholder="MM/DD/YYYY" />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row mb-3">
                                                <div class="col-3">
                                                    <div class="form-check form-switch mt-4">
                                                        <input class="form-check-input" type="checkbox" id="isDeleted">
                                                        <label class="form-check-label" for="isDeleted">Mark As Deleted</label>
                                                    </div>
                                                </div>
                                                <div class="col-9"></div>
                                            </div>

                                            <div class="row mb-3">

                                                <div class="col-6">
                                                    <div class="row mb-3">
                                                        <label for="ownerId" class="col-sm-12 col-form-label m-3">
                                                            @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Circular.Label.Owner"))
                                                        </label>
                                                        <div class="col-sm-12">
                                                            <select class="js-owner form-control" id="ownerId" name="ownerId">
                                                                <option value="0">@Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Circular.Label.Select.Owner"))</option>
                                                                @if (Model?.Departments != null && Model.Departments.Any()) {
                                                                    foreach (var department in Model.Departments) {
                                                                        <option value="@department.Id">@department.DepartmentName</option>
                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row mb-3">
                                                        <label for="frequencyId" class="col-sm-12 col-form-label m-3">
                                                            @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Circular.Label.Frequency"))
                                                        </label>
                                                        <div class="col-sm-12">
                                                            <select class="js-frequency form-control" id="frequencyId" name="frequencyId">
                                                                <option value="0">@Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Circular.Label.Select.Frequency"))</option>
                                                                @if (Model?.Frequencies != null && Model.Frequencies.Any()) {
                                                                    foreach (var frequency in Model.Frequencies) {
                                                                        <option value="@frequency.Id">@frequency.FrequencyName</option>
                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row mb-3">
                                                <div class="col-6">
                                                    <div class="row mb-3">
                                                        <label for="authorityId" class="col-sm-12 col-form-label m-3">
                                                            @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Circular.Label.Authority"))
                                                        </label>
                                                        <div class="col-sm-12">
                                                            <select class="js-owner form-control" id="authorityId" name="authorityId">
                                                                <option value="0">@Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Circular.Label.Select.Authority"))</option>
                                                                @if (Model?.Authorities != null && Model.Authorities.Any()) {
                                                                    foreach (var authority in Model.Authorities) {
                                                                        <option value="@authority.Id">@authority.AuthorityName</option>
                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                                <div class="col-6"></div>

                                            </div>

                                            <div class="row mb-3">
                                                <label for="breachRisk" class="col-12 form-label">
                                                    @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Circular.Label.Risk"))
                                                </label>
                                                <div class="col-12">
                                                    <textarea class="form-control" id="breachRisk" rows="4"></textarea>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label for="comments" class="col-12 form-label">
                                                    @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Circular.Label.Comments"))
                                                </label>
                                                <div class="col-12">
                                                    <textarea class="form-control" id="comments" rows="4"></textarea>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-sm-12">
                                            <div class="row mb-3">
                                                <div class="col-sm-2">
                                                    <button class="btn btn-grc-primary" style="width:100%;" onclick="saveCircular(event)">@Html.Raw(ILocalize.GetLocalizedLabel("Button.Submit"))</button>
                                                </div>
                                                <div class="col-sm-2">
                                                    <button class="btn btn-grc-secondary" style="width:100%;" onclick="closeCircularPanel()">@Html.Raw(ILocalize.GetLocalizedLabel("Button.Cancel"))</button>
                                                </div>
                                                <div class="col-sm-10"></div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <!--issues tab -->

                <div class="tab-pane fade" id="issues" role="tabpanel">

                    <div class="row">

                        <div class="col-12">

                            <div class="tab-page-header">
                                <button class="tab-header-button" onclick="addIssue(event)">
                                    <span><i class="mdi mdi-plus"></i></span>
                                    <span>Add Issue</span>
                                </button>
                            </div>

                            <div class="tab-page-content">
                                <ul class="issues-list"></ul>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </form>

    </div>
</div>

<!-- Overlay -->
<div id="mapOverlay" class="map-panel-overlay"></div>

<div id="issuePanel" class="issue-side-panel " onclick="event.stopPropagation()">

    <div class="issue-side-panel-header">
        <h5 id="issueTitle">
            @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Law.Header.Acts"))
        </h5>
        <button class="panel-close" onclick="closeCircularIssue()">
            <i class="mdi mdi-close"></i>
        </button>
    </div>

    <div class="issue-side-panel-body">

        <form id="issueForm" class="grc-law-form">
            <input type="hidden" id="issueId" name="issueId">
            <input type="hidden" id="parentId" name="parentId">
            <input type="hidden" id="issueEdit" name="issueEdit">
            <div class="row">

                <div class="col-12">

                    <div class="row mb-3">
                        <div class="mb-3">
                            <label for="issueDescription" class="form-label">
                                @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Law.Label.issueDescription"))
                            </label>
                            <input type="text" class="form-control" id="issueDescription" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="mb-3">
                            <label for="issueResolution" class="form-label">
                                @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Law.Label.IssueNotes"))
                            </label>
                            <textarea class="form-control" id="issueResolution" rows="4"></textarea>
                        </div>
                    </div>

                    <div class="row mb-3">

                        <div class="col-6">
                            <div class="row mb-3">
                                <label for="issueStatus" class="col-sm-12 col-form-label m-3">
                                    @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Circular.Label.Status"))
                                </label>
                                <div class="col-sm-12">
                                    <select class="js-owner form-control" id="issueStatus" name="issueStatus">
                                        <option value="UNKNOWN">@Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Circular.Label.Select.Status"))</option>
                                        <option value="NA">Not Applicable</option>
                                        <option value="OPEN">Pending Closure</option>
                                        <option value="CLOSED">Closed</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-check form-switch mt-4">
                                <input class="form-check-input" type="checkbox" id="issueDeleted">
                                <label class="form-check-label" for="issueDeleted">Mark As Deleted</label>
                            </div>
                        </div>

                        <div class="col-3"></div>

                    </div>

                    <div class="row mb-3">

                        <div class="col-6">
                            <div class="row mb-3">
                                <label for="issueRecieved" class="col-sm-12 col-form-label">
                                    @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Circular.Label.ReceiveDate"))
                                </label>
                                <div class="col-sm-12">
                                    <input type="text" id="issueRecieved" name="issueRecieved" class="form-control datepicker" placeholder="MM/DD/YYYY" />
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="row mb-3">
                                <label for="issueResolved" class="col-sm-12 col-form-label">
                                    @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Circular.Label.Resolved"))
                                </label>
                                <div class="col-sm-12">
                                    <input type="text" id="issueResolved" name="issueResolved" class="form-control datepicker" placeholder="MM/DD/YYYY" />
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-sm-12">
                    <div class="row mb-3">
                        <div class="col-sm-1">
                            <button class="btn btn-grc-primary" style="width:100%;" onclick="saveFormIssue(event)">@Html.Raw(ILocalize.GetLocalizedLabel("Button.Submit"))</button>
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-grc-secondary" style="width:100%;" onclick="closeCircularIssue()">@Html.Raw(ILocalize.GetLocalizedLabel("Button.Cancel"))</button>
                        </div>
                        <div class="col-sm-10"></div>
                    </div>
                </div>

            </div>

        </form>
    </div>

</div>

@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/jquery/dist/jquery.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/app-circular-register.js");
}
