<div class="grc-tabulator-container">

    <div class="grc-tabulator-search">
        <div class="field-search-group">
            <label class="form-searchbox-label text-right">
                @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Search.ProcessGroups"))
            </label>
            <input id="groupSearchbox" type="text" class="form-control searchbox-field">
        </div>
    </div>

    <div id="processGroupTable"></div>

</div>

<!-- Overlay -->
<div class="process-overlay" onclick="closeProcessGroupPanel()">

    <!-- Slide Panel -->
    <div id="collapsePanel" class="collapse-panel" onclick="event.stopPropagation()">

        <div class="collapse-panel-header">
            <h3 id="groupPanelTitle">New Group</h3>
            <button class="collapse-panel-close" onclick="closeProcessGroupPanel()">&times;</button>
        </div>

        <div class="collapse-panel-body">

            <form id="processGroupForm" class="grc-form row g-3">
                <input type="hidden" id="groupId">
                <input type="hidden" id="isEdit">

                <div class="col-sm-6">
                    <div class="row mb-3">
                        <label for="groupName" class="col-sm-12 col-form-label text-sm-start">
                            @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Process.GroupName"))
                        </label>
                        <div class="col-sm-12">
                            <input type="text" id="groupName" name="groupName" class="form-control" required />
                        </div>
                    </div>
                </div>

                <div id="IsDeletedBox" class="col-6 p-5">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="isDeleted">
                        <label class="form-check-label" for="isDeleted">
                            @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Process.IsDeleted"))
                        </label>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="row mb-3">
                        <label for="groupDescription" class="col-sm-12 col-form-label text-sm-start">
                            @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Process.GroupDescription"))
                        </label>
                        <div class="col-sm-12">
                            <textarea id="groupDescription" name="groupDescription" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 permission-list-section">
                    <div id="groupListContainer" class="permission-setList-container"></div>
                </div>

                <!-- Button section -->
                <div class="col-sm-12">
                    <div class="row mb-3">
                        <div class="col-sm-1">
                            <button class="btn btn-grc-primary" style="width:100%;" onclick="saveProcessGroupRecord(event)">@Html.Raw(ILocalize.GetLocalizedLabel("Button.Submit"))</button>
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-grc-secondary" style="width:100%;" onclick="closeProcessGroupPanel()">@Html.Raw(ILocalize.GetLocalizedLabel("Button.Cancel"))</button>
                        </div>
                        <div class="col-sm-10"></div>
                    </div>
                </div>

            </form>

        </div>
    </div>

    

</div>

@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/jquery/dist/jquery.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/app-processes-groups.js");
}