@model CompanyRegistrationModel

@{
    ViewData["Title"] = ILocalize.GetLocalizedLabel("Registration.Title");
    Layout = "_Layout_01";
}

<div class="registration-container">

    <div class="row">

        <div class="col-sm-12 reg-header-container">
            <div class="reg-header">
                <span>@ILocalize.GetLocalizedLabel("App.Version")</span>
                <span>@ILocalize.GetLocalizedLabel("App.Registration.Header")</span>
            </div>
        </div>

        <div class="col-sm-12 registration-content">

            <div class="row mx-auto">

                <form id="registration-form" class="col-sm-12 mx-auto" autocomplete="off" method="post" asp-action="Register" novalidate>

                    <div class="col-sm-12 mx-auto">
                        <div id="validation-summary" class="alert alert-danger d-none">
                            <i class="mdi mdi-alert-circle-outline"></i>
                            <span>Please correct the errors in the current step before proceeding.</span>
                        </div>
                    </div>

                    <!-- Step Navigation -->
                    <div class="form-steps">
                        <div class="step-nav">
                            <div class="step active" data-step="1">
                                <div class="step-number">
                                    <span>1</span>
                                </div>
                                <div class="step-title">@ILocalize.GetLocalizedLabel("Registration.Title")</div>
                            </div>
                            <div class="step" data-step="2">
                                <div class="step-number">
                                    <span>2</span>
                                </div>
                                <div class="step-title">@ILocalize.GetLocalizedLabel("Registration.Admin.Info")</div>
                            </div>
                            <div class="step" data-step="3">
                                <div class="step-number">
                                    <span>3</span>
                                </div>
                                <div class="step-title">@ILocalize.GetLocalizedLabel("Registration.Admin.Access")</div>
                            </div>
                        </div>
                    </div>

                    <!-- Step 1 (Company Information) -->
                    <section id="step-1" class="form-step active">

                        <fieldset>

                            <legend class="display-5 text-primary">Company Information</legend>

                            <div class="form-group">
                                <label for="System_Language">@ILocalize.GetLocalizedLabel("App.System.Language")</label>
                                <select id="System_Language" class="form-control language-select" name="SystemLanguage"
                                        asp-for="SystemLanguage" required>
                                    <option value="None">Select Language</option>
                                    @foreach (var lang in ILocalize.GetAvailableLanguages()) {
                                        <option value="@lang.Code">@lang.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="SystemLanguage" class="field-validation-error"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label for="Company_Name">@ILocalize.GetLocalizedLabel("Register.Company.Fields.CompanyName")</label>
                                <input id="Company_Name" type="text" name="CompanyName" asp-for="CompanyName" class="form-control" autocomplete="off" placeholder="Example. PostBank Uganda Limited" required>
                                <span asp-validation-for="CompanyName" class="field-validation-error"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label for="Company_Alias">@ILocalize.GetLocalizedLabel("Register.Company.Fields.Alias")</label>
                                <input id="Company_Alias" type="text" name="Alias" asp-for="Alias" class="form-control" placeholder="@ILocalize.GetLocalizedLabel("App.Label.Example") PBU" autocomplete="off" required>
                                <span asp-validation-for="Alias" class="field-validation-error"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label for="Registration_Number">@ILocalize.GetLocalizedLabel("Register.Company.Fields.RegistrationNumber")</label>
                                <input id="Registration_Number" type="text" name="RegistrationNumber" asp-for="RegistrationNumber" class="form-control" autocomplete="off" placeholder="@ILocalize.GetLocalizedLabel("App.Label.Example") C003-6754">
                                <span asp-validation-for="RegistrationNumber" class="field-validation-error"></span>
                            </div>

                        </fieldset>

                    </section>

                    <!-- Step 2 (Admin Details) -->
                    <section id="step-2" class="form-step">

                        <fieldset>

                            <legend class="display-5 text-primary">System Administrator</legend>

                            <div class="form-group mb-3">
                                <label for="User_FirstName" class="col-form-label">@ILocalize.GetLocalizedLabel("User.Fields.FirstName")</label>
                                <input id="User_FirstName" type="text" name="SystemAdmin.FirstName" class="form-control" asp-for="SystemAdmin.FirstName" autocomplete="off" placeholder="@ILocalize.GetLocalizedLabel("App.Label.Example") Wolf" required>
                                <span asp-validation-for="SystemAdmin.FirstName" class="field-validation-error"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label for="User_MidlleName" class="col-form-label">@ILocalize.GetLocalizedLabel("User.Fields.MidlleName")</label>
                                <input id="User_MidlleName" type="text" name="SystemAdmin.MiddleName" asp-for="SystemAdmin.MiddleName" autocomplete="off" placeholder="@ILocalize.GetLocalizedLabel("App.Label.Example") John" class="form-control">
                                <span asp-validation-for="SystemAdmin.MiddleName" class="field-validation-error"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label for="User_LastName" class="col-form-label">@ILocalize.GetLocalizedLabel("User.Fields.Surname")</label>
                                <input id="User_LastName" type="text" name="SystemAdmin.LastName" asp-for="SystemAdmin.LastName" class="form-control" placeholder="@ILocalize.GetLocalizedLabel("App.Label.Example") Smith" required>
                                <span asp-validation-for="SystemAdmin.LastName" class="field-validation-error"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label for="User_PFNumber" class="col-form-label">@ILocalize.GetLocalizedLabel("User.Fields.PFNumber")</label>
                                <input id="User_PFNumber" type="text" name="SystemAdmin.PFNumber" asp-for="SystemAdmin.PFNumber" class="form-control" autocomplete="off" placeholder="@ILocalize.GetLocalizedLabel("App.Label.Example") 90300" required>
                                <span asp-validation-for="SystemAdmin.PFNumber" class="field-validation-error"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label for="User_Email" class="col-form-label">@ILocalize.GetLocalizedLabel("User.Fields.Email")</label>
                                <input id="User_Email" type="text" name="SystemAdmin.EmailAddress" asp-for="SystemAdmin.EmailAddress" class="form-control" autocomplete="off" placeholder="@ILocalize.GetLocalizedLabel("App.Label.Example") user@postbank.co.ug">
                                <span asp-validation-for="SystemAdmin.EmailAddress" class="field-validation-error"></span>
                            </div>

                            <div class="form-group mb-3">
                                <label for="User_Phone" class="col-form-label">@ILocalize.GetLocalizedLabel("User.Fields.PhoneNumber")</label>
                                <input id="User_Phone" type="tel" name="SystemAdmin.PhoneNumber" asp-for="SystemAdmin.PhoneNumber" class="form-control" autocomplete="off" placeholder="@ILocalize.GetLocalizedLabel("App.Label.Example") 256770010015">
                                <span asp-validation-for="SystemAdmin.PhoneNumber" class="field-validation-error"></span>
                            </div>

                        </fieldset>

                    </section>

                    <!-- Step 3 (Login Details) -->
                    <section id="step-3" class="form-step">

                        <fieldset>

                            <legend class="display-5 text-primary">Login Details</legend>

                            <div class="form-group mb-3">
                                <label for="User_UserName" class="col-form-label">@ILocalize.GetLocalizedLabel("User.Fields.UserName")</label>
                                <input id="User_UserName" type="text" name="SystemAdmin.UserName" asp-for="SystemAdmin.UserName" class="form-control" placeholder="@ILocalize.GetLocalizedLabel("App.Label.Example") WOLSMI90300"
                                       autocomplete="off" required>
                                <span asp-validation-for="SystemAdmin.UserName" class="field-validation-error"></span>
                            </div>

                            <div class="form-group mb-3  password-wrapper">
                                <label for="SystemPassword" class="col-form-label">@ILocalize.GetLocalizedLabel("User.Fields.Password")</label>
                                <input type="password" class="form-control" id="SystemPassword" name="SystemAdmin.Password" asp-for="SystemAdmin.Password" autocomplete="off" required>
                                <span class="password-toggle"><i class="mdi mdi-eye-off"></i></span>
                                <span asp-validation-for="SystemAdmin.Password" class="field-validation-error"></span>
                            </div>

                            <div class="form-group mb-3  password-wrapper">
                                <label for="User_ConfirmPassword" class="col-form-label">@ILocalize.GetLocalizedLabel("User.Fields.ConfirmPassword")</label>
                                <input id="User_ConfirmPassword" type="password" class="form-control" name="SystemAdmin.ConfirmPassword" asp-for="SystemAdmin.ConfirmPassword"
                                       autocomplete="off" required>
                                <span class="password-toggle"><i class="mdi mdi-eye-off"></i></span>
                                <span asp-validation-for="SystemAdmin.ConfirmPassword" class="field-validation-error"></span>
                            </div>

                        </fieldset>

                    </section>

                    <div class="form-navigation col-sm-12 mx-auto">
                        <button type="button" class="btn btn-secondary btn-grc-button btn-prev" disabled>@ILocalize.GetLocalizedLabel("Button.Previous")</button>
                        <button type="button" class="btn btn-primary btn-grc-button btn-next">@ILocalize.GetLocalizedLabel("Button.Next")</button>
                        <button type="submit" class="btn btn-success btn-grc-button btn-submit">@ILocalize.GetLocalizedLabel("Button.Submit")</button>
                    </div>
                    
                </form>

            </div>

        </div>

    </div>

</div>