@using Grc.ui.App.Enums
@using Grc.ui.App.Defaults

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <grc-antiforgery-token as-meta="true"></grc-antiforgery-token>
        <title>@await Html.GenerateTitleAsync()</title>

        @{
            // Add all your CSS files
            Html.AddCssFileParts("~/lib/bootstrap/dist/css/bootstrap.css");
            Html.AddCssFileParts("~/lib/icons/metro/icons.css");
            Html.AddCssFileParts("~/lib/icons/material-design/css/materialdesignicons.css");
            Html.AddCssFileParts("~/css/material-icons.css");
            Html.AddCssFileParts("~/lib/icons/coreui-icons/css/all.css");
            Html.AddCssFileParts("~/lib/select-2/css/select2.min.css");
            Html.AddCssFileParts("~/lib/ckeditor5/ckeditor5.css");
            Html.AddCssFileParts("~/lib/toastr/toastr.css");
            Html.AddCssFileParts("~/css/color-pallete.css");
            Html.AddCssFileParts("~/lib/sweet-alert/sweetalert2.css");
            Html.AddCssFileParts("~/lib/datatables/datatables.css");
            Html.AddCssFileParts("~/lib/datatables/datatables.min.css");
            Html.AddCssFileParts("~/lib/tabulator/css/tabulator.min.css");
            Html.AddCssFileParts("~/lib/tabulator/css/tabulator_bootstrap5.min.css");
            Html.AddCssFileParts("~/css/component-styles.css");
            Html.AddCssFileParts("~/css/app-tables-styles.css"); 
            Html.AddCssFileParts("~/css/app-styles.css");
            Html.AddCssFileParts("~/css/app-tabular-styles.css");
        }

        <!-- Keep these in head because they need to be available early -->
        <script src="~/lib/toastr/toastr.min.js"></script>
        <script src="~/lib/sweet-alert/sweetalert2.all.min.js"></script>
        <script src="~/lib/ckeditor5/ckeditor5.umd.js"></script>
        <script src="~/lib/chartjs/chart.bundle.min.js"></script>
        <script src="~/lib/tabulator/js/tabulator.min.js"></script>
        <script src="~/lib/xlsx/xlsx.full.min.js"></script>

        @Html.GenerateCssFiles()
        @Html.GenerateHeadCustom()

    </head>
    <body class="@Html.GeneratePageCssClasses()">

         <div id="layoutWrapper" class="layout-wrapper">

            <div class="layout-wrapper">

                <aside class="sidebar-container">

                    <nav class="sidebar bg-light">

                        <div class="sidebar-geader">
                            <button>
                                <span class="menu-icon">
                                    <i class="mdi mdi-menu"></i></>
                                </span>
                            </button>
                            <div class="logo-container">
                                <img src="~/images/pearl_transp.png" />
                            </div>
                        </div>

                        <ul class="sidebar-menu">

                            <li class="sidebar-item">
                                <a asp-controller="Application" asp-action="Index">
                                    <span class="menu-icon">
                                        <i class="material-icons-outlined">home</i>
                                    </span>
                                    <span class="sidebar-text">
                                        @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Home"))
                                    </span>
                                </a>
                            </li>

                            <li class="sidebar-separator">
                                <span class="separator-label">
                                    @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Workbench"))
                                </span>
                                <span class="separator-line"></span>
                            </li>

                            <li class="sidebar-item with-submenu">
                                <a href="" class="toggle-submenu" data-id="regiters-menu">
                                    <span class="menu-icon">
                                    <i class="material-icons-outlined">rule_folder</i>
                                    </span>
                                    <span>
                                        @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Registers"))
                                    </span>
                                    <span class="drop-icon">
                                        <i class="mdi mdi-chevron-down"></i>
                                    </span>
                                </a>

                                <ul id="regiters-menu" class="sidebar-submenu">

                                    <li class="sidebar-item">
                                        <a asp-controller="Register" asp-action="RegulationList">
                                            <span class="menu-icon">
                                                <i class="mdi mdi-chart-multiple"></i>
                                            </span>
                                            <span class="sidebar-text">
                                                @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Registers.List"))
                                            </span>
                                        </a>
                                    </li>

                                    <li class="sidebar-item">
                                        <a asp-controller="Register" asp-action="RegulationObligations">
                                            <span class="menu-icon">
                                                <i class="mdi mdi-gavel"></i>
                                            </span>
                                            <span class="sidebar-text">
                                                @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Registers.Obligations"))
                                            </span>
                                        </a>
                                    </li>

                                    <li class="sidebar-item">
                                        <a asp-controller="Register" asp-action="RegulationMaps">
                                            <span class="menu-icon">
                                                <i class="material-icons">align_horizontal_left</i>
                                            </span>
                                            <span class="sidebar-text">
                                                @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Regulation.Maps"))
                                            </span>
                                        </a>
                                    </li>

                                </ul>

                            </li>

                            <li class="sidebar-item with-submenu">

                                <a href="" class="toggle-submenu" data-id="regulations-menu">
                                    <span class="menu-icon">
                                    <i class="mdi mdi-file-document-multiple-outline"></i>
                                    </span>
                                    <span>
                                        @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Regulations"))
                                    </span>
                                    <span class="drop-icon">
                                        <i class="mdi mdi-chevron-down"></i>
                                    </span>
                                </a>

                                <ul id="regulations-menu" class="sidebar-submenu">

                                    <li class="sidebar-item">
                                        <a asp-controller="Register" asp-action="ManageRegulations">
                                            <span class="menu-icon">
                                                <i class="mdi mdi-file-replace-outline"></i>
                                            </span>
                                            <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Registers.Regulations"))
                                            </span>
                                        </a>
                                    </li>

                                    <li class="sidebar-item">
                                        <a asp-controller="Register" asp-action="RegulationCirculars">
                                            <span class="menu-icon">
                                                <i class="mdi mdi-file-rotate-right-outline"></i>
                                            </span>
                                            <span class="sidebar-text">
                                                @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Regulation.Circulars"))
                                            </span>
                                        </a>
                                    </li>

                                </ul>

                            </li>

                            <li class="sidebar-item with-submenu">

                                <a href="" class="toggle-submenu" data-id="policies-menu">
                                    <span class="menu-icon">
                                        <i class="mdi mdi-ruler-square-compass"></i>
                                    </span>
                                    <span>
                                        @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Registers.Policies"))
                                    </span>
                                    <span class="drop-icon">
                                        <i class="mdi mdi-chevron-down"></i>
                                    </span>
                                </a>

                                <ul id="policies-menu" class="sidebar-submenu">

                                    <li class="sidebar-item">
                                    <a asp-controller="CompliancePolicy" asp-action="ManagePolicy">
                                            <span class="menu-icon">
                                                <i class="mdi mdi-pencil-ruler-outline"></i>
                                            </span>
                                            <span class="sidebar-text">
                                                @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Policies.Compliance.Manage"))
                                            </span>
                                        </a>
                                    </li>

                                <li class="sidebar-item">
                                    <a asp-controller="Register" asp-action="PoliciesRegisters">
                                        <span class="menu-icon">
                                            <i class="mdi mdi-ruler-square-compass"></i>
                                        </span>
                                        <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Policies.Compliance.Procedures"))
                                        </span>
                                    </a>
                                </li>

                                    <li class="sidebar-item">
                                        <a asp-controller="CompliancePolicy" asp-action="PoliciesDocuments">
                                            <span class="menu-icon">
                                                <i class="mdi mdi-folder-open-outline"></i>
                                            </span>
                                            <span class="sidebar-text">
                                                @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Policies.Compliance.Documents"))
                                            </span>
                                        </a>
                                    </li>

                                </ul>

                            </li>

                            <li class="sidebar-item with-submenu">

                                <a href="" class="toggle-submenu" data-id="audits-menu">
                                    <span class="menu-icon">
                                        <i class="mdi mdi-archive-check-outline"></i>
                                    </span>
                                    <span>
                                        @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Compliance.Audits"))
                                    </span>
                                    <span class="drop-icon">
                                        <i class="mdi mdi-chevron-down"></i>
                                    </span>
                                </a>

                                <ul id="audits-menu" class="sidebar-submenu">

                                    <li class="sidebar-item">
                                    <a asp-controller="ComplianceAudit" asp-action="ManageAudits">
                                            <span class="menu-icon">
                                                <i class="mdi mdi-marker-check"></i>
                                            </span>
                                            <span class="sidebar-text">
                                                @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Compliance.Audits.Manage"))
                                            </span>
                                        </a>
                                    </li>

                                    <li class="sidebar-item">
                                    <a asp-controller="ComplianceAudit" asp-action="AuditTypes">
                                            <span class="menu-icon">
                                                <i class="mdi mdi-checkbox-multiple-marked-circle-outline"></i>
                                            </span>
                                            <span class="sidebar-text">
                                                @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Compliance.Audits.Types"))
                                            </span>
                                        </a>
                                    </li>

                                    <li class="sidebar-item">
                                    <a asp-controller="ComplianceAudit" asp-action="AuditExceptions">
                                            <span class="menu-icon">
                                                <i class="mdi mdi-wrench-check-outline"></i>
                                            </span>
                                            <span class="sidebar-text">
                                                @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Compliance.Audits.AuditExceptions"))
                                            </span>
                                        </a>
                                    </li>

                                </ul>

                            </li>

                            <li class="sidebar-separator">

                                <span class="separator-label">
                                    @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Support"))
                                </span>

                                <span class="separator-line"></span>

                            </li>

                            <li class="sidebar-item with-submenu">

                                <a href="" class="toggle-submenu" data-id="statute-settings-menu">
                                    <span class="menu-icon">
                                        <i class="mdi mdi-face-agent"></i>
                                    </span>
                                    <span>
                                        @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Compliance.Regulatory.Support"))
                                    </span>
                                    <span class="drop-icon">
                                    <i class="mdi mdi-chevron-down"></i>
                                    </span>
                                </a>

                                <ul id="statute-settings-menu" class="sidebar-submenu">

                                    <li class="sidebar-item">
                                        <a asp-controller="ComplianceSettings" asp-action="ComplianceRegulatoryTypes">
                                            <span class="menu-icon">
                                                <i class="material-icons-outlined">type_specimen</i>
                                            </span>
                                            <span class="sidebar-text">
                                                @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Compliance.Support.Regulatory.Types"))
                                            </span>
                                        </a>
                                    </li>

                                    <li class="sidebar-item">
                                        <a asp-controller="ComplianceSettings" asp-action="ComplianceRegulatoryCategories">
                                            <span class="menu-icon">
                                                <i class="material-icons-outlined">merge_type</i>
                                            </span>
                                            <span class="sidebar-text">
                                                @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Compliance.Regulatory.Support.Categories"))
                                            </span>
                                        </a>
                                    </li>

                                    <li class="sidebar-item">

                                        <a asp-controller="ComplianceSettings" asp-action="ComplianceAuthorities">
                                            <span class="menu-icon">
                                                <i class="material-icons-outlined">military_tech</i>
                                            </span>
                                            <span class="sidebar-text">
                                                @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Regulation.Authorites"))
                                            </span>
                                        </a>

                                    </li>

                                </ul>

                            </li>

                            <li class="sidebar-item with-submenu">

                                <a href="" class="toggle-submenu" data-id="support-settings-menu">
                                    <span class="menu-icon">
                                        <i class="material-icons-round">support</i>
                                    </span>
                                    <span>
                                        @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Compliance.Support"))
                                    </span>
                                    <span class="drop-icon">
                                        <i class="mdi mdi-chevron-down"></i>
                                    </span>
                                </a>

                                <ul id="support-settings-menu" class="sidebar-submenu">

                                    <li class="sidebar-item">

                                        <a asp-controller="ComplianceSettings" asp-action="ComplianceDocumentType">
                                            <span class="menu-icon">
                                            <i class="mdi mdi-file-document-multiple"></i>
                                            </span>
                                            <span class="sidebar-text">
                                                @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Policies.Support.DocumentType"))
                                            </span>
                                        </a>

                                    </li>

                                    <li class="sidebar-item">
                                        <a asp-controller="ComplianceSettings" asp-action="ComplianceDepartments">
                                            <span class="menu-icon">
                                                <i class="mdi mdi-widgets-outline"></i>
                                            </span>
                                            <span class="sidebar-text">
                                                @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Compliance.Support.Departments"))
                                            </span>
                                        </a>
                                    </li>

                                    <li class="sidebar-item">
                                        <a asp-controller="ComplianceSettings" asp-action="ComplianceResponsibilities">
                                            <span class="menu-icon">
                                                <i class="mdi mdi-hand-coin-outline"></i>
                                            </span>
                                            <span class="sidebar-text">
                                                @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Compliance.Support.Responsibilites"))
                                            </span>
                                        </a>
                                    </li>

                                </ul>

                            </li>

                            <li class="sidebar-separator">

                                <span class="separator-label">
                                    @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Configuration"))
                                </span>

                                <span class="separator-line"></span>

                            </li>

                            <li class="sidebar-item with-submenu">

                                <a href="" class="toggle-submenu" data-id="settings-menu">
                                    <span class="menu-icon">
                                        <i class="mif-equalizer"></i>
                                    </span>
                                    <span>
                                        @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Compliance.Configuration"))
                                    </span>
                                    <span class="drop-icon">
                                        <i class="mdi mdi-chevron-down"></i>
                                    </span>
                                </a>

                                <ul id="settings-menu" class="sidebar-submenu">

                                    <li class="sidebar-item">
                                        <a asp-controller="ComplianceSettings" asp-action="ComplianceUsers">
                                            <span class="menu-icon">
                                                <i class="mif-groups"></i>
                                            </span>
                                            <span class="sidebar-text">
                                                @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Compliance.Settings.Users"))
                                            </span>
                                        </a>
                                    </li>

                                    <li class="sidebar-item">
                                        <a asp-controller="ComplianceSettings" asp-action="ComplianceDelegation">
                                            <span class="menu-icon">
                                                <i class="mdi mdi-account-switch-outline"></i>
                                            </span>
                                            <span class="sidebar-text">
                                                @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Compliance.Settings.Delegation"))
                                            </span>
                                        </a>
                                    </li>

                                </ul>

                            </li>

                        </ul>

                        <div class="sidebar-footer">
                            <div class="logo-box">
                                <img src="~/images/logo.png" />
                            </div>
                            <h1 class="footer-text is-5 mb-0 ml-3">@Model.Banner</h1>
                        </div>

                    </nav>

                </aside>

                <main class="main-content" id="mainContent">

                    <header class="header-bar">

                        <div class="header-align-left">
                            <div class="app-banner">
                                <h1 class="title is-5 mb-0 ml-3">Compliance</h1>
                            </div>
                        </div>

                        <div class="header-align-right">
                            <div class="app-seach-box">
                                <span class="app-serach">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                            </div>

                            <div class="user-avator">
                                <span class="avator-bell">
                                    <i class="mdi mdi-bell-ring-outline"></i>
                                </span>
                                <span class="notification-count">5</span>
                            </div>

                            <div class="dropdown is-right" id="userDropdown">
                                <div class="dropdown-trigger">
                                    <button class="button avator-button" onclick="toggleDropdown()">
                                        <div class="user-avator">
                                            <span class="avator-initials">@Model.Initials</span>
                                        </div>
                                        <span class="drop-avator-icon">
                                            <i class="mdi mdi-chevron-down"></i>
                                        </span>
                                    </button>
                                </div>

                                <div class="dropdown-menu">
                                    <div class="dropdown-content">
                                        <ul>
                                            <li>
                                                <a href="#" class="dropdown-item">
                                                    <span>
                                                        <i class="mdi mdi-account-cog"></i>
                                                    </span>
                                                    <span>
                                                        @Html.Raw(ILocalize.GetLocalizedLabel("App.User.Views"))
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="dropdown-item">
                                                    <span>
                                                        <i class="mdi mdi-account-cog"></i>
                                                    </span>
                                                    <span>
                                                        @Html.Raw(ILocalize.GetLocalizedLabel("App.User.Settings"))
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li>
                                                <a href="" class="dropdown-item" onclick="performLogout(event)">
                                                    <span>
                                                        <i class="mdi mdi-logout"></i>
                                                    </span>
                                                    <span>
                                                        @Html.Raw(ILocalize.GetLocalizedLabel("App.User.Logout"))
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </header>

                    @RenderBody()

                </main>

            </div>

        </div>

        @{
            Html.AddScriptParts(ResourceLocation.Footer, "~/lib/jquery/dist/jquery.js");
            Html.AddScriptParts(ResourceLocation.Footer, "~/lib/jquery-validation/dist/jquery.validate.js");
            Html.AddScriptParts(ResourceLocation.Footer, "~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js");
            Html.AddScriptParts(ResourceLocation.Footer, "~/lib/datatables/datatables.min.js");
            Html.AddScriptParts(ResourceLocation.Footer, "~/lib/select-2/js/select2.js");
            Html.AddScriptParts(ResourceLocation.Footer, "~/lib/bootstrap/dist/js/bootstrap.js");
            Html.AddScriptParts(ResourceLocation.Footer, "~/js/component-script.js");
            Html.AddScriptParts(ResourceLocation.Footer, "~/js/app-script.js");
            Html.AddScriptParts(ResourceLocation.Footer, "~/js/app-policy-register.js");
            Html.AddScriptParts(ResourceLocation.Footer, "~/js/app-obligation-register.js");
            Html.AddScriptParts(ResourceLocation.Footer, "~/js/app-returns-register.js");
            Html.AddScriptParts(ResourceLocation.Footer, "~/js/app-regulations-register.js");
            Html.AddScriptParts(ResourceLocation.Footer, "~/js/app-table-script.js");
            Html.AddScriptParts(ResourceLocation.Footer, "~/js/app-other-script.js");
        }

        @Html.GenerateScripts(ResourceLocation.Footer)
        @await RenderSectionAsync("Scripts", required: false)

        <script>
            window.ADMIN_LOGOUT_URL = '@Url.Action("Logout", "Application")';
        </script>

    </body>
</html>
