<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>@await Html.GenerateTitleAsync()</title>

        @{
            // Add all your CSS files
            Html.AddCssFileParts("~/lib/bootstrap/dist/css/bootstrap.css");
            Html.AddCssFileParts("~/lib/icons/metro/icons.css");
            Html.AddCssFileParts("~/lib/icons/material-design/css/materialdesignicons.css");
            Html.AddCssFileParts("~/lib/icons/coreui-icons/css/all.css");
            Html.AddCssFileParts("~/lib/select-2/css/select2.min.css");
            Html.AddCssFileParts("~/lib/toastr/toastr.css");
            Html.AddCssFileParts("~/css/color-pallete.css");
            Html.AddCssFileParts("~/lib/sweet-alert/sweetalert2.css");
            Html.AddCssFileParts("~/css/grc-style.css", excludeFromBundle: false);
        }

        <script src="~/lib/toastr/toastr.min.js"></script>
        <script src="~/lib/sweet-alert/sweetalert2.all.min.js"></script>
        @Html.GenerateCssFiles()
        @Html.GenerateHeadCustom()
    </head>
    <body class="@Html.GeneratePageCssClasses()">

        <div class="grc-wrapper">

            <header class="grc-header-bar">
                <span class="display-1">Top Header</span>
            </header>

            <div class="gr-content-wrapper">

                <aside class="sidebar-container">
                    <span class="display-1">Side Bar</span>
                </aside>

                <main id="mainContainer" role="main" class="grc-content-container">
                    @RenderBody()
                </main>

            </div>

        </div>

        @{
            // Add all your script files
            Html.AddScriptParts(ResourceLocation.Footer, "~/lib/jquery/dist/jquery.js");
            Html.AddScriptParts(ResourceLocation.Footer, "~/lib/jquery-validation/dist/jquery.validate.js");
            Html.AddScriptParts(ResourceLocation.Footer, "~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js");
            Html.AddScriptParts(ResourceLocation.Footer, "~/lib/select-2/js/select2.full.min.js");
            Html.AddScriptParts(ResourceLocation.Footer, "~/lib/bootstrap/dist/js/bootstrap.js");
            Html.AddScriptParts(ResourceLocation.Footer, "~/lib/metro/js/metro.js");
            Html.AddScriptParts(ResourceLocation.Footer, "~/lib/metro/js/highlight.min.js");
            Html.AddScriptParts(ResourceLocation.Footer, "~/lib/metro/js/apexcharts.js");
            Html.AddScriptParts(ResourceLocation.Footer, "~/js/grc-app.js");
        }

        @Html.GenerateScripts(ResourceLocation.Footer)
        @await RenderSectionAsync("Scripts", required: false)


        <script>
            window.ADMIN_LOGOUT_URL = '@Url.Action("Logout", "Application")';
        </script>

    </body>
</html>
