@using Grc.ui.App.Enums
@using Grc.ui.App.Defaults
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <grc-antiforgery-token as-meta="true"></grc-antiforgery-token>
    <title>@await Html.GenerateTitleAsync()</title>

    @{
        // Add all your CSS files
        Html.AddCssFileParts("~/lib/bootstrap/dist/css/bootstrap.css");
        Html.AddCssFileParts("~/lib/icons/metro/icons.css");
        Html.AddCssFileParts("~/lib/icons/material-design/css/materialdesignicons.min.css");
        Html.AddCssFileParts("~/lib/icons/coreui-icons/css/all.css");
        Html.AddCssFileParts("~/lib/select-2/css/select2.min.css");
        Html.AddCssFileParts("~/lib/select-2/css/select2.min.css");
        Html.AddCssFileParts("~/lib/ckeditor5/ckeditor5.css");
        Html.AddCssFileParts("~/lib/toastr/toastr.css");
        Html.AddCssFileParts("~/css/color-pallete.css");
        Html.AddCssFileParts("~/lib/sweet-alert/sweetalert2.css");
        Html.AddCssFileParts("~/lib/datatables/datatables.css");
        Html.AddCssFileParts("~/lib/datatables/datatables.min.css");
        Html.AddCssFileParts("~/lib/chartjs/chart.min.css");
        Html.AddCssFileParts("~/css/admin-tables-styles.css");
        Html.AddCssFileParts("~/css/admin-style.css");
        Html.AddCssFileParts("~/css/component-styles.css");
    }

    <!-- Keep these in head because they need to be available early -->
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/sweet-alert/sweetalert2.all.min.js"></script>
    <script src="~/lib/ckeditor5/ckeditor5.umd.js"></script>
    <script src="~/lib/chartjs/chart.bundle.min.js"></script>
    <script src=""></script>
    @Html.GenerateCssFiles()
    @Html.GenerateHeadCustom()
</head>
<body class="@Html.GeneratePageCssClasses()">

    <div id="layoutWrapper" class="layout-wrapper">

        <div class="layout-wrapper">

            <aside class="sidebar-container">

                <nav class="sidebar bg-light">

                    <div class="sidebar-geader">
                        <button>
                            <span class="menu-icon">
                                <i class="mdi mdi-menu"></i></>
                            </span>
                        </button>
                        <div class="logo-container">
                            <img src="~/images/pearl_transp.png" />
                        </div>
                    </div>

                    <ul class="sidebar-menu">

                        <li class="sidebar-item">
                            <a asp-controller="Support" asp-action="Index" asp-area="Admin" >
                                <span class="menu-icon">
                                    <i class="mdi mdi-home-outline"></i></>
                                </span>
                                <span class="sidebar-text">
                                    @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Home"))
                                </span>
                            </a>
                        </li>

                        <li class="sidebar-item with-submenu">

                            <a href="" class="toggle-submenu" data-id="company-menu">
                                <span class="menu-icon">
                                    <i class="mdi mdi-vector-arrange-above"></i>
                                </span>
                                <span>
                                    @Html.Raw(ILocalize.GetLocalizedLabel("App.Label.Organization"))
                                </span>
                                <span class="drop-icon">
                                    <i class="mdi mdi-chevron-down"></i>
                                </span>
                            </a>

                            <ul id="company-menu" class="sidebar-submenu">
                               
                                <li class="sidebar-item with-submenu">
                                    <a asp-controller="Configuration" asp-action="Branches" asp-area="Admin">
                                        <span class="menu-icon">
                                            <i class="mdi mdi-view-grid-outline"></i>
                                        </span>
                                        <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("App.Label.Organization.Branches"))
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item with-submenu">
                                    <a asp-controller="Support" asp-action="Departments" asp-area="Admin">
                                        <span class="menu-icon">
                                            <i class="mdi mdi-widgets-outline"></i>
                                        </span>
                                        <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("App.Label.Organization.Departments"))
                                        </span>
                                    </a>
                                </li>
                               
                            </ul>

                        </li>

                        <li class="sidebar-separator">
                            <span class="separator-label">
                                @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Workbench"))
                            </span>
                            <span class="separator-line"></span>
                        </li>

                        <li class="sidebar-item with-submenu">
                            <a href="" class="toggle-submenu" data-id="users-menu">
                                <span class="menu-icon">
                                    <i class="mdi mdi-account-cog-outline"></i>
                                </span>
                                <span>
                                    @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Users"))
                                </span>
                                <span class="drop-icon">
                                    <i class="mdi mdi-chevron-down"></i>
                                </span>
                            </a>

                            <ul id="users-menu" class="sidebar-submenu">
                                <li class="sidebar-item with-submenu">
                                    <a asp-controller="Support" asp-action="Users" asp-area="Admin">
                                        <span class="menu-icon">
                                            <i class="mdi mdi-account-outline"></i>
                                        </span>
                                        <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Users.Accounts"))
                                        </span>
                                    </a>
                                </li>

                                <li class="sidebar-item">
                                    <a asp-controller="Configuration" asp-action="SystemActivity" asp-area="Admin">
                                        <span class="menu-icon">
                                            <i class="mdi mdi-bell-ring-outline"></i>
                                        </span>
                                        <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Configurations.Activities"))
                                        </span>
                                    </a>
                                </li>

                            </ul>

                        </li>

                        <li class="sidebar-item with-submenu">
                            <a href="" class="toggle-submenu" data-id="roles-menu">
                                <span class="menu-icon">
                                    <i class="mdi mdi-account-settings"></i>
                                </span>
                                <span>
                                    @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Configurations.SystemRoles"))
                                </span>
                                <span class="drop-icon">
                                    <i class="mdi mdi-chevron-down"></i>
                                </span>
                            </a>

                            <ul id="roles-menu" class="sidebar-submenu">

                                <li class="sidebar-item">
                                    <a asp-controller="Support" asp-action="Roles" asp-area="Admin">
                                        <span class="menu-icon">
                                            <i class="mdi mdi-account-box-outline"></i>
                                        </span>
                                        <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Configurations.Roles"))
                                        </span>
                                    </a>
                                </li>

                                <li class="sidebar-item">
                                    <a asp-controller="Support" asp-action="RoleGroups" asp-area="Admin">
                                        <span class="menu-icon">
                                            <i class="mdi mdi-account-group-outline"></i>
                                        </span>
                                        <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Configurations.RoleGroups"))
                                        </span>
                                    </a>
                                </li>

                                <li class="sidebar-item with-submenu">
                                    <a asp-controller="Support" asp-action="RoleDelegation" asp-area="Admin">
                                        <span class="menu-icon">
                                            <i class="mdi mdi-account-convert-outline"></i>
                                        </span>
                                        <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Compliance.Settings.Delegation"))
                                        </span>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="sidebar-item with-submenu">

                            <a href="" class="toggle-submenu" data-id="permissions-menu">
                                <span class="menu-icon">
                                    <i class="mdi mdi-key"></i>
                                </span>
                                <span>
                                    @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Permissions"))
                                 </span>
                                <span class="drop-icon">
                                    <i class="mdi mdi-chevron-down"></i>
                                </span>
                            </a>

                            <ul id="permissions-menu" class="sidebar-submenu">

                                <li class="sidebar-item with-submenu">
                                    <a asp-controller="Support" asp-action="RolePermissions" asp-area="Admin">
                                        <span class="menu-icon">
                                            <i class="mdi mdi-account-key"></i>
                                        </span>
                                        <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Permissions.Assign"))
                                        </span>
                                    </a>
                                </li>

                                <li class="sidebar-item with-submenu">
                                    <a asp-controller="Support" asp-action="PermissionSets" asp-area="Admin">
                                        <span class="menu-icon">
                                            <i class="mdi mdi-key-change"></i>
                                        </span>
                                        <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Permissions.Sets"))
                                        </span>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="sidebar-separator">
                            <span class="separator-label">
                                @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Configurations"))
                            </span>
                            <span class="separator-line"></span>
                        </li>

                        <li class="sidebar-item with-submenu">

                            <a href="" class="toggle-submenu" data-id="other-menu">
                                <span class="menu-icon">
                                    <i class="mdi mdi-security-network"></i>
                                </span>
                                <span>
                                    @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Configurations.Security"))
                                </span>
                                <span class="drop-icon">
                                    <i class="mdi mdi-chevron-down"></i>
                                </span>
                            </a>

                            <ul id="other-menu" class="sidebar-submenu">

                                <li class="sidebar-item with-submenu">
                                    <a asp-controller="Configuration" asp-action="DataEncryptions" asp-area="Admin">
                                        <span class="menu-icon">
                                            <i class="mdi mdi-lock-outline"></i>
                                        </span>
                                        <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Configurations.Encryption"))
                                        </span>
                                    </a>
                                </li>

                                <li class="sidebar-item with-submenu">
                                    <a asp-controller="Support" asp-action="PasswordPolicy" asp-area="Admin">
                                        <span class="menu-icon">
                                            <i class="mdi mdi-form-textbox-password"></i>
                                        </span>
                                        <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Configurations.Passwords"))
                                        </span>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="sidebar-item">
                            <a asp-controller="Configuration" asp-action="BugReporter" asp-area="Admin">
                                <span class="menu-icon">
                                    <i class="mdi mdi-bug-outline"></i>
                                </span>
                                <span class="sidebar-text">
                                    @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Configurations.Errors"))
                                </span>
                            </a>
                        </li>

                    </ul>

                    <div class="sidebar-footer">
                        <div class="logo-box">
                            <img src="~/images/logo.png" />
                        </div>
                        <h1 class="footer-text is-5 mb-0 ml-3">@Model.Banner</h1>
                    </div>

                </nav>

            </aside>

            <main class="main-content" id="mainContent">

                <header class="header-bar">

                    <div class="header-align-left">
                        <div class="app-banner">
                            <h1 class="title is-5 mb-0 ml-3">BT Support Center</h1>
                        </div>
                    </div>

                    <div class="header-align-right">
                        <div class="app-seach-box">
                            <span class="app-serach">
                                <i class="mdi mdi-magnify"></i>
                            </span>
                        </div>

                        <div class="user-avator">
                            <span class="avator-bell">
                                <i class="mdi mdi-bell-ring-outline"></i>
                            </span>
                            <span class="notification-count">5</span>
                        </div>
                        <div class="dropdown is-right" id="userDropdown">
                            <div class="dropdown-trigger">
                                <button class="button avator-button" onclick="toggleDropdown()">
                                    <div class="user-avator">
                                        <span class="avator-initials">@Model.Initials</span>
                                    </div>
                                    <span class="drop-avator-icon">
                                        <i class="mdi mdi-chevron-down"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu">
                                <div class="dropdown-content">
                                    <ul>
                                        <li>
                                            <a href="#" class="dropdown-item">
                                                <span>
                                                    <i class="mdi mdi-account-cog"></i>
                                                </span>
                                                <span>
                                                    @Html.Raw(ILocalize.GetLocalizedLabel("App.User.Views"))
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item">
                                                <span>
                                                    <i class="mdi mdi-account-cog"></i>
                                                </span>
                                                <span>
                                                    @Html.Raw(ILocalize.GetLocalizedLabel("App.User.Settings"))
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li>
                                            <a href="" class="dropdown-item" onclick="performLogout(event)">
                                                <span>
                                                    <i class="mdi mdi-logout"></i>
                                                </span>
                                                <span>
                                                    @Html.Raw(ILocalize.GetLocalizedLabel("App.User.Logout"))
                                                </span>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>

                </header>

                @RenderBody()

            </main>

        </div>

    </div>

    @{
        Html.AddScriptParts(ResourceLocation.Footer, "~/lib/jquery/dist/jquery.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/lib/jquery-validation/dist/jquery.validate.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/lib/datatables/datatables.min.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/lib/select-2/js/select2.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/lib/bootstrap/dist/js/bootstrap.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/js/component-script.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/js/admin-script.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/js/department-units-script.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/js/department-script.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/js/branch-script.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/js/users-script.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/js/admin-script-other.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/js/admin-tables.js");
    }

    @Html.GenerateScripts(ResourceLocation.Footer)
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        window.ADMIN_LOGOUT_URL = '@Url.Action("Logout", "Support", new { area = "Admin" })';
    </script>

</body>
</html>


