@model IQuickActionModelFactory

<div class="quick-actions">
    @foreach (var item in Model.QuickActionItems)
    {
        <a asp-controller="@item.Controller" asp-action="@item.Action" asp-area="@item.Area">
            <span class="menu-icon">
                <i class="@item.IconClass"></i>
            </span>
            <span class="sidebar-text">
                @Html.Raw(Model.ILocalize.GetLocalizedLabel(@item.Label))
            </span>
        </a>
    }
</div>