<div class="grc-tabulator-container">

    <div class="grc-tabulator-search">
        <div class="field-search-group">
            <label class="form-searchbox-label text-right">@Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Search.Authority"))</label>
            <input id="authoritySearchbox" type="text" class="form-control searchbox-field">
        </div>
        <div class="field-search-buttons">
            <button id="btnAuthorityExportFiltered" class="btn btn-success">
                <i class="mdi mdi-file-excel-outline"></i> @Html.Raw(ILocalize.GetLocalizedLabel("App.Label.ExportFiltered"))
            </button>
        </div>
    </div>
    <div id="regulatory-authorities-table"></div>
</div>

<!-- Overlay -->
<div class="overlay" onclick="closeRegulatoryAuthorityPanel()">

    <!-- Slide Panel -->
    <div id="slidePanel" class="slide-panel" onclick="event.stopPropagation()">
        <div class="panel-header">
            <h3 id="panelTitle">@Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Authority.Header"))</h3>
            <button class="panel-close" onclick="closeRegulatoryAuthorityPanel()">
                <i class="mdi mdi-close"></i>
            </button>
        </div>

        <div class="panel-body">

            <form id="recordForm" class="grc-form row g-3">
                <input type="hidden" id="recordId">
                <input type="hidden" id="isEdit">

                <div class="col-sm-12">
                    <div class="row field-group">
                        <label for="authorityName" class="form-label text-right col-12">@Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Authority.Name"))</label>
                        <input type="text" id="authorityName" name="authorityName" class="col-12 form-control" required>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="row field-group">
                        <label for="authorityAlias" class="form-label text-right col-12">@Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Authority.Alias"))</label>
                        <input type="text" id="authorityAlias" name="authorityAlias" class="col-12 form-control" required>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="row field-group m-5">
                        <div id="isActive" class="col-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="isActive">
                                <label class="form-check-label" for="isActive">
                                    @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Status.Active"))
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="row mb-3">
                        <div class="col-sm-1">
                            <button class="btn btn-grc-primary" style="width:100%;" onclick="saveRegulatoryAuthorityRecord(event)">@Html.Raw(ILocalize.GetLocalizedLabel("Button.Submit"))</button>
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-grc-secondary" style="width:100%;" onclick="closeRegulatoryAuthorityPanel()">@Html.Raw(ILocalize.GetLocalizedLabel("Button.Cancel"))</button>
                        </div>
                        <div class="col-sm-10"></div>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>

@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/jquery/dist/jquery.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/app-regulation-authorities.js");
}

