@model PolicyRegisterViewModel

<div class="container-fluid regulatory-container">

    <div class="row regulatory-inner-container">

        <!------jtree----->
        <div class="col-md-3 border-end hierarchy-panel">

            <div class="category-list-box d-flex justify-content-between align-items-center mb-2">
                <strong class="category-list-box-title">@Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Circulars.Submission.Label.Frequency"))</strong>
            </div>

            <div id="frequencyTree" class="hierarchy-tree"></div>

        </div>

        <div class="col-md-9 content-panel">

            <!------breadcrubs----->
            <nav class="bread-crumb-nav" aria-label="breadcrumb">
                <ol class="breadcrumb small mb-2" id="frequencyBreadcrumb">
                    <li class="breadcrumb-item">
                        @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Returns.Header.Frequency.Returns"))
                    </li>
                </ol>
            </nav>

            <div id="contentArea">
                <!------Returns/Reports table----->
                <div class="empty-state text-muted text-start p-2" style="border-bottom: solid 1px #CED4DA!important">
                    @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Returns.Header.Frequency.Reports.List"))
                </div>

                <div id="returnView" class="d-none">
                    <div class="d-flex justify-content-between p-2">
                        <h6 class="p-2 m-0">@Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Returns.Header.Frequency.Reports.Submissions"))</h6>
                        <button class="btn btn-sm btn-primary" id="btnAddReturn">
                            @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Returns.Header.Frequency.Reports.Add"))
                        </button>
                    </div>

                    <div id="returnsTable"></div>
                </div>

                <!------Submissions table----->
                <div id="submissionView" class="d-none">
                    <div class="d-flex justify-content-between p-2">
                        <h6 class="p-2 m-0">
                            @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Returns.Header.Frequency.Reports.Submissions"))
                        </h6>
                    </div>

                    <div id="submissionsTable"></div>
                </div>

            </div>
        </div>

    </div>

 </div>

<!-- Inner-Overlay -->
<div id="returnInnerOverlay" class="obligation-panel-overlay"></div>

<!-- Section Panel -->
<div id="returnInnerPanel" class="obligation-side-panel" onclick="event.stopPropagation()">

    <div class="obligation-side-panel-header">
        <h5 id="returnInnerTitle">
            @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Submitted.Header"))
        </h5>
        <button class="panel-close" onclick="closeSubmissionPane()">
            <i class="mdi mdi-close"></i>
        </button>
    </div>

    <div class="obligation-side-panel-body">

        <form id="innerSubForm" class="grc-law-form">
            <input type="hidden" id="submissionId" name="submissionId" />
            <input type="hidden" id="submissionBreach" name="submissionBreach" />
            <input type="hidden" id="ownerId" name="ownerId" />

            <div class="row m-3">

                <div id="breachBox" class="col-sm-12">
                    <span>This return/report was not submitted in time and acquired a risk to the bank. You MUST give a reason why submission period was breached.</span>
                </div>

                <!-- title -->
                <div class="col-sm-12">
                    <label for="title" class="form-label m-3">
                        @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Submitted.Title"))
                    </label>
                    <textarea class="form-control" id="title" name="title" rows="2" readonly></textarea>
                </div>

                <!-- department -->
                <div class="col-sm-12">
                    <label for="department" class="form-label m-3">
                        @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Submitted.Department"))
                    </label>
                    <input class="form-control" id="department" name="department" readonly />
                </div>

                <!-- period -->
                <div class="col-sm-12">
                    <label for="period" class="form-label m-3">
                        @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Submitted.Period"))
                    </label>
                    <input class="form-control" id="period" name="period" readonly />
                </div>

                <!-- file -->
                <div class="col-sm-12">
                    <label for="file" class="form-label m-3">
                        @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Submitted.FileName"))
                    </label>
                    <input class="form-control" id="file" name="file" />
                </div>

                <!-- status -->
                <div class="col-6">
                    <div class="row mb-3">
                        <label for="status" class="col-sm-12 col-form-label m-3">
                            @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Submitted.Select"))
                        </label>
                        <div class="col-sm-12">
                            <select class="js-status form-control" id="status" name="status">
                                <option value="UNKNOWN">@Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Submitted.Select.Status"))</option>
                                <option value="CLOSED">Submitted</option>
                                <option value="OPEN">Pending Submission</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- breached -->
                <div class="col-sm-6">
                    <div class="row field-group mt-4 mb-5">
                        <div class="col-6">
                            <div class="form-check">
                                <input class="form-check-input pe-none" type="checkbox" id="isBreached" onclick="return false;">
                                <label class="form-check-label" for="isBreached">
                                    @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Submitted.Breached"))
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Risk -->
                <div class="col-sm-12 mt-3 mb-3">
                    <label for="riskAttached" class="form-label m-3">
                        @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Returns.Risk"))
                    </label>
                    <textarea class="form-control" id="riskAttached" name="riskAttached" rows="2" readonly></textarea>
                </div>

                <!-- reason -->
                <div class="col-sm-12 mt-3 mb-3">

                    <label for="reason" class="form-label m-3">
                        @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Submitted.Reason"))
                    </label>

                    <textarea class="form-control" id="reason" name="reason" rows="2"></textarea>

                </div>

                <!-- submitted -->
                <div class="col-sm-12">
                    <div class="row m-3">
                        <!-- Submission Date -->
                        <div class="col-6">
                            <div class="row mb-3">
                                <label for="submittedOn" class="col-sm-12 col-form-label">
                                    @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Submitted.SubmittedOn"))
                                </label>
                                <div class="col-sm-12">
                                    <input type="text" id="submittedOn" name="submittedOn" class="form-control datepicker" placeholder="MM/DD/YYYY" />
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="row mb-3">
                                <label for="submittedBy" class="col-sm-12 col-form-label">
                                    @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Submitted.SubmittedBy"))
                                </label>
                                <input class="form-control" id="submittedBy" name="submittedBy" />
                            </div>
                            
                        </div>
                    </div>
                    
                </div>

                <!-- Comments -->
                <div class="col-sm-12 mt-3 mb-3">

                    <label for="comments" class="form-label m-3">
                        @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Returns.Comments"))
                    </label>

                    <textarea class="form-control" id="comments" name="comments" rows="2"></textarea>

                </div>

                <div class="col-sm-12">
                    <div class="row mb-3">
                        <div class="col-sm-2">
                            <button class="btn btn-grc-primary" style="width:100%;" onclick="updateSubmission(event)">@Html.Raw(ILocalize.GetLocalizedLabel("Button.Submit"))</button>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-grc-secondary" style="width:100%;" onclick="closeSubmissionPane()">@Html.Raw(ILocalize.GetLocalizedLabel("Button.Cancel"))</button>
                        </div>
                        <div class="col-sm-8"></div>
                    </div>
                </div>

            </div>

        </form>

    </div>

</div>

<!-- Section Panel -->
<div id="returnReportPanel" class="obligation-side-panel" onclick="event.stopPropagation()">

    <div class="obligation-side-panel-header">
        <h5 id="returnReportTitle">
            @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Submitted.Header"))
        </h5>
        <button class="panel-close" onclick="closeReportPane()">
            <i class="mdi mdi-close"></i>
        </button>
    </div>

    <div class="obligation-side-panel-body">

        <form id="innerSubForm" class="grc-law-form">
            <input type="hidden" id="returnId" name="returnId" />
            <input type="hidden" id="frequencyId" name="frequencyId" />
            <input type="hidden" id="returnEdit" name="returnEdit" />

            <div class="row m-3">

                <div class="col-sm-12">
                    <div class="row mb-3">
                        <label for="returnName" class="col-12 form-label mb-2">
                            @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Returns.Label.Name"))
                        </label>
                        <div class="col-12">
                            <input type="text" class="form-control" id="returnName" name="returnName" required>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">

                    <div class="row mb-3">

                        <div class="col-6">
                            <div class="row">
                                <label for="returnTypeId" class="col-12 col-form-label mb-2">
                                    @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Returns.Label.Type"))
                                </label>
                                <div class="col-12">
                                    <select class="js-act-return-type-id form-control" id="returnTypeId" name="returnTypeId">
                                        <option value="0">@Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Returns.Label.Type.Select"))</option>
                                        @if (Model?.ReturnTypes != null && Model.ReturnTypes.Any()) {
                                            foreach (var type in Model.ReturnTypes) {
                                                <option value="@type.Id">@type.TypeName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="col-6">
                            <div class="row">
                                <label for="statuteId" class="col-12 col-form-label mb-2">
                                    @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Returns.Statute"))
                                </label>
                                <div class="col-12">
                                    <select class="js-act-statute-id form-control" id="statuteId" name="statuteId">
                                        <option value="0">@Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Returns.Label.Statute.Select"))</option>
                                        @if (Model?.EnforcementLaws != null && Model.EnforcementLaws.Any()) {
                                            foreach (var Statute in Model.EnforcementLaws) {
                                                <option value="@Statute.Id">@Statute.Section @Statute.Requirement</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-sm-12">

                    <div class="row">

                        <div class="col-6">
                            <div class="row mb-3">
                                <label for="authorityId" class="col-12 col-form-label mb-2">
                                    @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Label.Authority"))
                                </label>
                                <div class="col-12">
                                    <select class="js-act-authority-id form-control" id="authorityId" name="authorityId">
                                        <option value="0">@Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Select.Authority"))</option>
                                        @if (Model?.Authorities != null && Model.Authorities.Any()) {
                                            foreach (var authority in Model.Authorities) {
                                                <option value="@authority.Id">@authority.AuthorityName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="col-6">
                            <div class="row">
                                <label for="departmentId" class="col-12 col-form-label mb-2">
                                    @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Policy.Department.Name"))
                                </label>
                                <div class="col-12">
                                    <select class="js-act-department-id form-control" id="departmentId" name="departmentId">
                                        <option value="0">@Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Policy.Department.Select"))</option>
                                        @if (Model?.Departments != null && Model.Departments.Any()) {
                                            foreach (var department in Model.Departments) {
                                                <option value="@department.Id">@department.DepartmentName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-sm-12">

                    <div class="row">
                        <label for="returnRisk" class="col-12 form-label mb-3">
                            @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Returns.Risk"))
                        </label>
                        <div class="col-12 mb-3">
                            <textarea class="form-control" id="returnRisk" name="returnRisk" rows="2"></textarea>
                        </div>
                    </div>

                </div>

                <div class="col-sm-12">

                    <div class="row mb-3">

                        <div class="col-sm-4">

                            <div class="row field-group mt-4">
                                <div class="col-6 mb-2">
                                    <div class="form-check">
                                        <input class="form-check-input pe-none" type="checkbox" id="reportDeleted" onclick="return false;">
                                        <label class="form-check-label" for="reportDeleted">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Returns.Deleted"))
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-8"></div>

                    </div>

                </div>

                <div class="col-12">
                    <div class="row mb-1">

                        <div class="col-6">
                            <div class="row mb-1">
                                <label for="requiredSubmissionDate" class="col-sm-12 col-form-label">Submission Date</label>
                                <div class="col-sm-12">
                                    <input type="text" id="requiredSubmissionDate" name="requiredSubmissionDate" class="form-control datepicker" placeholder="MM/DD/YYYY" />
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="row mb-1">
                                <label for="submissionDay" class="col-sm-12 col-form-label m-1">Day of submission</label>
                                <div class="col-sm-12">
                                    <input type="number" id="submissionDay" name="submissionDay" class="form-control" min="1" max="31" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-12">
                    <label for="reportComments" class="form-label m-3">
                        @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Returns.Comments"))
                    </label>
                    <textarea class="form-control" id="reportComments" name="reportComments" rows="2"></textarea>
                </div>

                <div class="row mb-3">

                    <div class="col-12">
                        <div class="row mb-3">
                            <div class="col-3">
                                <div class="form-check form-switch mt-4">
                                    <input class="form-check-input" type="checkbox" id="sendReminder">
                                    <label class="form-check-label" for="sendReminder">
                                        @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Audits.Update.Label.SendReminder"))
                                    </label>
                                </div>
                            </div>
                            <div class="col-9"></div>
                        </div>
                    </div>

                    <div id="notificationBox" class="col-12">

                        <div class="row mb-3">

                            <div class="col-6">
                                <div class="row mb-1">
                                    <label for="interval" class="col-sm-12 col-form-label m-1">Number of times to send mail</label>
                                    <div class="col-12">
                                        <select class="js-interval form-control" id="interval" name="interval">
                                            <option value="NA">Select interval...</option>
                                            <option value="ONCE">One</option>
                                            <option value="TWICE">Two</option>
                                            <option value="THREE">Three</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row mb-1">
                                    <label for="intervalType" class="col-sm-12 col-form-label m-1">Interval Type</label>
                                    <div class="col-12">
                                        <select class="js-interval-type-id form-control" id="intervalType" name="intervalType">
                                            <option value="NA">Select reminder interval...</option>
                                            <option value="HOURS">Hour(s)</option>
                                            <option value="DAYS">Day(s)</option>
                                            <option value="WEEKS">Week(s)</option>
                                            <option value="MONTHS">Month(s)</option>
                                            <option value="YEARS">Year(s)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">

                            <label for="reminderMessage" class="col-12 form-label">
                                @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Audits.Update.Label.Reminder"))
                            </label>
                            <div class="col-12">
                                <textarea class="form-control" id="reminderMessage" name="reminderMessage" rows="2"></textarea>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-sm-12 mt-3">
                    <div class="row mb-3 p-2">
                        <div class="col-sm-2">
                            <button class="btn btn-grc-primary" style="width:100%;" onclick="saveAuditReport(event)">@Html.Raw(ILocalize.GetLocalizedLabel("Button.Submit"))</button>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-grc-secondary" style="width:100%;" onclick="closeReportPane()">@Html.Raw(ILocalize.GetLocalizedLabel("Button.Cancel"))</button>
                        </div>
                        <div class="col-sm-8"></div>
                    </div>
                </div>

            </div>

        </form>

    </div>

</div>

@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/jquery/dist/jquery.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/app-returns-register.js");
}
