@model OperationsDashboardModel
@{
    Layout = "_OperationLayout";
    ViewData["Title"] = "Dashboard";
}

<div class="welcome-container">
    <div class="welcome-container-message">
        <span class="display-1">@Model.WelcomeMessage</span>
    </div>
    <div class="incon-container-expand">
        <button id="expandBtn" type="button" class="icon-btn">
            <span>
                <i id="toggleIcon" class="mdi mdi-arrow-expand"></i>
            </span>
        </button>
    </div>

</div>

<div class="action-box">
    <div class="title-box">
        <h3 class="display-1 action-box-title">Quick Actions</h3>
        <span class="title-line"></span>
    </div>

    @await Component.InvokeAsync("QuickActions", new { model = Model.QuickActions })
</div>

<div class="col-sm-12">
    <span class="display-1 text-success">Operations Dashboard</span>
</div>

@* 
<div class="stats-grid">

    <div class="title-box">
        <h3 class="display-1 stats-grid-title">System Users</h3>
        <span class="title-line"></span>
    </div>

    <div class="stats-content">
        <div class="stat-card stat-card-light">
            <div class="stat-title">
                <span>TOTAL USERS</span>
            </div>
            <div class="stat-number" id="totalUsers">
                <span>@Model.TotalUsers</span>
            </div>
            <span class="stat-separator stat-separator-default"></span>
            <a class="stat-link" asp-controller="Support" asp-action="Users" asp-area="Admin">
                <span><i class="mdi mdi-chevron-right"></i></span>
                <span>See more..</span>
            </a>
        </div>

        <div class="stat-card stat-card-light">
            <div class="stat-title">
                <span>ACTIVE USERS</span>
            </div>
            <div class="stat-number" id="activeUsers">
                <span>@Model.ActiveUsers</span>
            </div>
            <span class="stat-separator stat-separator-primary"></span>
            <a class="stat-link" asp-controller="Support" asp-action="ActiveUsers" asp-area="Admin">
                <span><i class="mdi mdi-chevron-right"></i></span>
                <span>See more..</span>
            </a>
        </div>

        <div class="stat-card stat-card-light">
            <div class="stat-title">
                <span>DISABLED USERS</span>
            </div>
            <div class="stat-number" id="disabledUsers">
                <span>@Model.DeactivatedUsers</span>
            </div>
            <span class="stat-separator stat-separator-danger"></span>
            <a class="stat-link" asp-controller="Support" asp-action="DisabledUsers" asp-area="Admin">
                <span><i class="mdi mdi-chevron-right"></i></span>
                <span>See more..</span>
            </a>
        </div>

        <div class="stat-card stat-card-light">
            <div class="stat-title">
                <span>PENSING APPROVALS</span>
            </div>
            <div class="stat-number" id="unapprovedUsers">
                <span>@Model.UnApprovedUsers</span>
            </div>
            <span class="stat-separator stat-separator-warning"></span>
            <a class="stat-link" asp-controller="Support" asp-action="UnapprovedUsers" asp-area="Admin">
                <span><i class="mdi mdi-chevron-right"></i></span>
                <span>See more..</span>
            </a>
        </div>

        <div class="stat-card stat-card-light">
            <div class="stat-title">
                <span>PENSING VERIFICATION</span>
            </div>
            <div class="stat-number" id="unverifiedUsers">
                <span>@Model.UnverifiedUsers</span>
            </div>
            <span class="stat-separator stat-separator-warning"></span>
            <a class="stat-link" asp-controller="Support" asp-action="UnapprovedUsers" asp-area="Admin">
                <span><i class="mdi mdi-chevron-right"></i></span>
                <span>See more..</span>
            </a>
        </div>

        <div class="stat-card stat-card-light">
            <div class="stat-title">
                <span>DELETED ACCOUNTS</span>
            </div>
            <div class="stat-number" id="deletedUsers">
                <span>@Model.DeletedUsers</span>
            </div>
            <span class="stat-separator stat-separator-danger"></span>
            <a class="stat-link" asp-controller="Support" asp-action="UnapprovedUsers" asp-area="Admin">
                <span><i class="mdi mdi-chevron-right"></i></span>
                <span>See more..</span>
            </a>
        </div>

    </div>

</div>

<div class="stats-grid">

    <div class="title-box">
        <h3 class="display-1 stats-grid-title">Bug Tracking</h3>
        <span class="title-line"></span>
    </div>

    <div class="stats-content">
        <div class="stat-card stat-card-colored">
            <div class="stat-title">
                <span>TOTAL BUGS</span>
            </div>
            <div class="stat-number" id="totalBugs">
                <span>@Model.TotalBugs</span>
            </div>
            <span class="stat-separator stat-separator-colored"></span>
            <a class="stat-link-color" asp-controller="Support" asp-action="Bugs" asp-area="Admin">
                <span><i class="mdi mdi-chevron-right"></i></span>
                <span>See more..</span>
            </a>
        </div>

        <div class="stat-card stat-card-colored">
            <div class="stat-title">
                <span>NEW BUGS</span>
            </div>
            <div class="stat-number" id="newBugs">
                <span>@Model.NewBugs</span>
            </div>
            <span class="stat-separator stat-separator-danger"></span>
            <a class="stat-link-color" asp-controller="Support" asp-action="NewBugs" asp-area="Admin">
                <span><i class="mdi mdi-chevron-right"></i></span>
                <span>See more..</span>
            </a>
        </div>

        <div class="stat-card stat-card-colored">
            <div class="stat-title">
                <span>IN PROGRESS</span>
            </div>
            <div class="stat-number" id="bugFixing">
                <span>@Model.BugProgress</span>
            </div>
            <span class="stat-separator stat-separator-warning"></span>
            <a class="stat-link-color" asp-controller="Support" asp-action="BugProgress" asp-area="Admin">
                <span><i class="mdi mdi-chevron-right"></i></span>
                <span>See more..</span>
            </a>
        </div>

        <div class="stat-card stat-card-colored">
            <div class="stat-title">
                <span>RESOLVED</span>
            </div>
            <div class="stat-number" id="bugFixing">
                <span>@Model.BugFixes</span>
            </div>
            <span class="stat-separator stat-separator-colored-primary"></span>
            <a class="stat-link-color" asp-controller="Support" asp-action="BugFixes" asp-area="Admin">
                <span><i class="mdi mdi-chevron-right"></i></span>
                <span>See more..</span>
            </a>
        </div>

        <div class="stat-card stat-card-colored">
            <div class="stat-title">
                <span>USER REPORTED</span>
            </div>
            <div class="stat-number" id="userReportedBugs">
                <span>@Model.UserReportedBugs</span>
            </div>
            <span class="stat-separator stat-separator-warning"></span>
            <a class="stat-link-color" asp-controller="Support" asp-action="UserReportedBugs" asp-area="Admin">
                <span><i class="mdi mdi-chevron-right"></i></span>
                <span>See more..</span>
            </a>
        </div>

    </div>

</div>

 *@