@using System.Text.Json
@model OperationsDashboardModel
@{
    Layout = "_OperationLayout";
    ViewData["Title"] = "Dashboard";

    var categoriesJson = JsonSerializer.Serialize(Model.ChartViewModel.CategoryTotals);
    var statusesJson = JsonSerializer.Serialize(Model.ChartViewModel.StatusSummaries);
}

<div class="welcome-container">
    <div class="welcome-container-message">
        <span class="display-1">@Model.WelcomeMessage</span>
    </div>
    <div class="incon-container-expand">
        <button id="expandBtn" type="button" class="icon-btn">
            <span>
                <i id="toggleIcon" class="mdi mdi-arrow-expand"></i>
            </span>
        </button>
    </div>

</div>

<div class="action-box">
    <div class="title-box">
        <h3 class="display-1 action-box-title">@Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Dashboard.Labels.Quick"))</h3>
        <span class="title-line"></span>
    </div>

    @await Component.InvokeAsync("QuickActions", new { model = Model.QuickActions })
</div>

<div class="dashboard-grid">

    <div class="stats-grid">

        <div class="title-box">
            <h3 class="display-1 stats-grid-title">@Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Dashboard.Labels.Processes"))</h3>
            <span class="title-line"></span>
        </div>

        <div class="stats-content">
            @foreach (var card in Model.ChartViewModel.ProcessCards)
            {
                <div class="stat-card stat-card-light">
                    <div class="stat-title"><span>@card.Title</span></div>
                    <div class="stat-number"><span>@card.Value</span></div>
                    <span class="stat-separator @card.CssClass"></span>
                    <a class="stat-link" asp-controller="@card.Controller" asp-action="@card.Action" asp-area="Operations">
                        <span><i class="mdi mdi-chevron-right"></i></span>
                        <span>@Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Dashboard.SeeMore"))</span>
                    </a>
                </div>
            }
        </div>

    </div>

    <div class="stats-grid">

        <div class="title-box">
            <h3 class="display-1 stats-grid-title">@Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Dashboard.Labels.Units"))</h3>
            <span class="title-line"></span>
        </div>

        <div class="stats-content">
            @foreach (var card in Model.ChartViewModel.UnitCards)
            {
                <div class="stat-card stat-card-colored">
                    <div class="stat-title"><span>@card.Title</span></div>
                    <div class="stat-number"><span>@card.Value</span></div>
                    <span class="stat-separator @card.CssClass"></span>
                    <a class="stat-link-color" asp-controller="@card.Controller" asp-action="@card.Action" asp-area="Operations">
                        <span><i class="mdi mdi-chevron-right"></i></span>
                        <span>@Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Dashboard.SeeMore"))</span>
                    </a>
                </div>
            }
        </div>

    </div>

    <div class="charts-grid">

        <div class="chart-container">
            <canvas id="categoryChart"></canvas>
        </div>

        <div class="chart-container">
            <canvas id="statusChart"></canvas>
        </div>

    </div>

</div>

@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/operations-dashboard-script.js");
}

<script>
    const categories = @Html.Raw(categoriesJson);
    const statuses = @Html.Raw(statusesJson);
</script>



