@using Grc.ui.App.Enums
@using Grc.ui.App.Defaults
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <grc-antiforgery-token as-meta="true"></grc-antiforgery-token>
    <title>@await Html.GenerateTitleAsync()</title>

    @{
        // Add all your CSS files
        Html.AddCssFileParts("~/lib/bootstrap/dist/css/bootstrap.css");
        Html.AddCssFileParts("~/lib/icons/metro/icons.css");
        Html.AddCssFileParts("~/lib/icons/material-design/css/materialdesignicons.css");
        Html.AddCssFileParts("~/css/material-icons.css");
        Html.AddCssFileParts("~/lib/icons/coreui-icons/css/all.css");
        Html.AddCssFileParts("~/lib/select-2/css/select2.min.css");
        Html.AddCssFileParts("~/lib/ckeditor5/ckeditor5.css");
        Html.AddCssFileParts("~/lib/toastr/toastr.css");
        Html.AddCssFileParts("~/css/color-pallete.css");
        Html.AddCssFileParts("~/lib/sweet-alert/sweetalert2.css");
        Html.AddCssFileParts("~/lib/tabulator/css/tabulator.min.css");
        Html.AddCssFileParts("~/lib/tabulator/css/tabulator_bootstrap5.min.css");
        Html.AddCssFileParts("~/css/app-tables-styles.css");
        Html.AddCssFileParts("~/css/app-tabular-styles.css");
        Html.AddCssFileParts("~/lib/chartjs/chart.min.css");
        Html.AddCssFileParts("~/css/app-styles.css");
        Html.AddCssFileParts("~/css/component-styles.css");
        Html.AddCssFileParts("~/css/app-collapsable-pane.css");
    }
    <!-- Keep these in head because they need to be available early -->
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/sweet-alert/sweetalert2.all.min.js"></script>
    <script src="~/lib/ckeditor5/ckeditor5.umd.js"></script>
    <script src="~/lib/chartjs/chart-4.4.1-min.js"></script>
    <script src="~/lib/xlsx/xlsx.full.min.js"></script>
    <script src="~/lib/flastpicker/flatpickr.js"></script>
    <script src="~/lib/tabulator/js/tabulator.min.js"></script>
    @Html.GenerateCssFiles()
    @Html.GenerateHeadCustom()
</head>
<body class="@Html.GeneratePageCssClasses()">

    <div id="layoutWrapper" class="layout-wrapper">

        <div class="layout-wrapper">

            <aside class="sidebar-container">

                <nav class="sidebar bg-light">

                    <div class="sidebar-geader">
                        <button>
                            <span class="menu-icon">
                                <i class="mdi mdi-menu"></i></>
                            </span>
                        </button>
                        <div class="logo-container">
                            <img src="~/images/pearl_transp.png" />
                        </div>
                    </div>

                    <ul class="sidebar-menu">

                        <li class="sidebar-item active">
                            <a asp-controller="OperationDashboard" asp-action="Index" asp-area="Operations">
                                <span class="menu-icon">
                                    <i class="mdi mdi-home-outline"></i></>
                                </span>
                                <span class="sidebar-text">
                                    @Html.Raw(ILocalize.GetLocalizedLabel("Operations.Menu.Home"))
                                </span>
                            </a>
                        </li>
                        
                        <li class="sidebar-separator">
                            <span class="separator-label">
                                @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Workbench"))
                            </span>
                            <span class="separator-line"></span>
                        </li>

                        <li class="sidebar-item with-submenu">

                            <a href="" class="toggle-submenu" data-id="processes-menu">
                                <span class="menu-icon">
                                    <i class="mdi mdi-cog-clockwise"></i>
                                </span>
                                <span>
                                    @Html.Raw(ILocalize.GetLocalizedLabel("Operations.Menu.Processes"))
                                 </span>
                                <span class="drop-icon">
                                    <i class="mdi mdi-chevron-down"></i>
                                </span>
                            </a>

                            <ul id="processes-menu" class="sidebar-submenu">

                                <li class="sidebar-item with-submenu">
                                    <a asp-controller="OperationWorkflow" asp-action="RegisterProcess" asp-area="Operations">
                                        <span class="menu-icon">
                                            <i class="mdi mdi-cog-transfer-outline"></i>
                                        </span>
                                        <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("Operations.Menu.Processes.Register"))
                                        </span>
                                    </a>
                                </li>

                                <li class="sidebar-item with-submenu">
                                    <a asp-controller="OperationWorkflow" asp-action="GroupProcesses" asp-area="Operations">
                                        <span class="menu-icon">
                                            <i class="material-icons-round">settings_input_component</i>
                                        </span>
                                        <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("Operations.Menu.Processes.Groups"))
                                        </span>
                                    </a>
                                </li>

                                <li class="sidebar-item with-submenu">
                                    <a asp-controller="OperationWorkflow" asp-action="TagProcesses" asp-area="Operations">
                                        <span class="menu-icon">
                                            <i class="mdi mdi-tag-search-outline"></i>
                                        </span>
                                        <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("Operations.Menu.Processes.Tags"))
                                        </span>
                                    </a>
                                </li>
                                
                            </ul>

                        </li>

                        <li class="sidebar-item with-submenu">
                            <a href="" class="toggle-submenu" data-id="approvals-menu">
                                <span class="menu-icon">
                                    <i class="mdi mdi-clipboard-list-outline"></i>
                                </span>
                                <span>
                                    @Html.Raw(ILocalize.GetLocalizedLabel("Operations.Menu.Tasks"))
                                </span>
                                <span class="drop-icon">
                                    <i class="mdi mdi-chevron-down"></i>
                                </span>
                            </a>
                            <ul id="approvals-menu" class="sidebar-submenu">

                                <li class="sidebar-item with-submenu">
                                    <a asp-controller="OperationWorkflow" asp-action="Approvals" asp-area="Operations">
                                        <span class="menu-icon">
                                            <i class="mdi mdi-clipboard-check-outline"></i>
                                        </span>
                                        <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("Operations.Menu.Tasks.Approvals"))
                                        </span>
                                    </a>
                                </li>

                                <li class="sidebar-item with-submenu">
                                    <a asp-controller="OperationWorkflow" asp-action="NewProcess" asp-area="Operations">
                                        <span class="menu-icon">
                                            <i class="mdi mdi-clipboard-flow-outline"></i>
                                        </span>
                                        <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("Operations.Menu.Tasks.Pending"))
                                        </span>
                                    </a>
                                </li>

                                <li class="sidebar-item with-submenu">
                                    <a asp-controller="OperationWorkflow" asp-action="Revisions" asp-area="Operations">
                                        <span class="menu-icon">
                                            <i class="mdi mdi-clipboard-alert-outline"></i>
                                        </span>
                                        <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("Operations.Menu.Tasks.Revisions"))
                                        </span>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="sidebar-separator">
                            <span class="separator-label">
                                @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Reports"))
                            </span>
                            <span class="separator-line"></span>
                        </li>
                        <li class="sidebar-item with-submenu">
                            <a asp-controller="OperationWorkflow" asp-action="TATReport" asp-area="Operations">
                                <span class="menu-icon">
                                    <i class="mdi mdi-file-table-outline"></i>
                                </span>
                                <span class="sidebar-text">
                                    @Html.Raw(ILocalize.GetLocalizedLabel("Operations.Menu.Tasks.TAT"))
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-separator">
                            <span class="separator-label">
                                @Html.Raw(ILocalize.GetLocalizedLabel("App.Menu.Configurations"))
                            </span>
                            <span class="separator-line"></span>
                        </li>

                        <li class="sidebar-item with-submenu">
                            <a href="" class="toggle-submenu" data-id="access-menu">
                                <span class="menu-icon">
                                    <i class="mdi mdi-account-key-outline"></i>
                                </span>
                                <span>
                                    @Html.Raw(ILocalize.GetLocalizedLabel("Operations.Menu.Configurations.Access"))
                                </span>
                                <span class="drop-icon">
                                    <i class="mdi mdi-chevron-down"></i>
                                </span>
                            </a>
                            <ul id="access-menu" class="sidebar-submenu">

                                <li class="sidebar-item with-submenu">
                                    <a asp-controller="OperationsConfiguration" asp-action="Departments" asp-area="Operations" class="disabled-link">
                                        <span class="menu-icon">
                                            <i class="mdi mdi-brightness-1"></i>
                                        </span>
                                        <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("Operations.Menu.Configurations.Departments"))
                                        </span>
                                    </a>
                                </li>

                                <li class="sidebar-item with-submenu">
                                    <a asp-controller="OperationsConfiguration" asp-action="Teams" asp-area="Operations" class="disabled-link">
                                        <span class="menu-icon">
                                            <i class="mdi mdi-dots-hexagon"></i>
                                        </span>
                                        <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("Operations.Menu.Configurations.Units"))
                                        </span>
                                    </a>
                                </li>

                                <li class="sidebar-item with-submenu">
                                    <a asp-controller="OperationsConfiguration" asp-action="Users" asp-area="Operations" class="disabled-link">
                                        <span class="menu-icon">
                                            <i class="mdi mdi-account-box-multiple-outline"></i>
                                        </span>
                                        <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("Operations.Menu.Configurations.Users"))
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item with-submenu">
                                    <a asp-controller="OperationsConfiguration" asp-action="Guests" asp-area="Operations" class="disabled-link">
                                        <span class="menu-icon">
                                            <i class="mdi mdi-account-switch-outline"></i>
                                        </span>
                                        <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("Operations.Menu.Configurations.Guests"))
                                        </span>
                                    </a>
                                </li>

                            </ul>
                        </li>

                      @*   <li class="sidebar-item with-submenu">
                            <a href="" class="toggle-submenu" data-id="settings-menu">
                                <span class="menu-icon">
                                    <i class="mif-equalizer"></i>
                                </span>
                                <span>
                                    @Html.Raw(ILocalize.GetLocalizedLabel("Operations.Menu.Configurations.Settings"))
                                </span>
                                <span class="drop-icon">
                                    <i class="mdi mdi-chevron-down"></i>
                                </span>
                            </a>
                            <ul id="settings-menu" class="sidebar-submenu">

                                <li class="sidebar-item with-submenu">
                                    <a asp-controller="OperationsConfiguration" class="disabled" disabled asp-action="General" asp-area="Operations">
                                        <span class="menu-icon">
                                            <i class="mdi mdi-shuffle-disabled"></i>
                                        </span>
                                        <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("Operations.Menu.Configurations.General"))
                                        </span>
                                    </a>
                                </li>
                                 
                                <li class="sidebar-item with-submenu">
                                    <a asp-controller="OperationsConfiguration" class="disabled" disabled asp-action="Additional" asp-area="Operations">
                                        <span class="menu-icon">
                                            <i class="mdi mdi-shuffle-variant"></i>
                                        </span>
                                        <span class="sidebar-text">
                                            @Html.Raw(ILocalize.GetLocalizedLabel("Operations.Menu.Configurations.Additional"))
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li> *@

                    </ul>

                </nav>

                <div class="sidebar-footer">
                    <div class="logo-box">
                        <img src="~/images/logo.png" />
                    </div>
                    <h1 class="footer-text is-5 mb-0 ml-3">@Model.Banner</h1>
                </div>

            </aside>

            <main class="main-content" id="mainContent">

                <header class="header-bar">

                    <div class="header-align-left">

                        <div class="app-banner">
                            <h1 class="title is-5 mb-0 ml-3">Operations Workflow</h1>
                        </div>

                    </div>

                    <div class="header-align-right">
                        <div class="app-seach-box">
                            <span class="app-serach">
                                <i class="mdi mdi-magnify"></i>
                            </span>
                        </div>

                        <div class="user-avator">
                            <span class="avator-bell">
                                <i class="mdi mdi-bell-ring-outline"></i>
                            </span>
                            <span class="notification-count">5</span>
                        </div>
                        <div class="dropdown is-right" id="userDropdown">
                            <div class="dropdown-trigger">
                                <button class="button avator-button" onclick="toggleDropdown()">
                                    <div class="user-avator">
                                        <span class="avator-initials">@Model.Initials</span>
                                    </div>
                                    <span class="drop-avator-icon">
                                        <i class="mdi mdi-chevron-down"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu">
                                <div class="dropdown-content">
                                    <ul>
                                        <li>
                                            <a href="#" class="dropdown-item">
                                                <span>
                                                    <i class="mif-cogs"></i>
                                                </span>
                                                <span>
                                                    @Html.Raw(ILocalize.GetLocalizedLabel("App.User.Views"))
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-item">
                                                <span>
                                                    <i class="mdi mdi-account-cog"></i>
                                                </span>
                                                <span>
                                                    @Html.Raw(ILocalize.GetLocalizedLabel("App.User.Settings"))
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li>
                                            <a href="" class="dropdown-item" onclick="performLogout(event)">
                                                <span>
                                                    <i class="mdi mdi-logout"></i>
                                                </span>
                                                <span>
                                                    @Html.Raw(ILocalize.GetLocalizedLabel("App.User.Logout"))
                                                </span>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>

                </header>

                @RenderBody()

            </main>

        </div>

    </div>

    @{
        Html.AddScriptParts(ResourceLocation.Footer, "~/lib/jquery/dist/jquery.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/lib/jquery-validation/dist/jquery.validate.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/lib/datatables/datatables.min.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/lib/select-2/js/select2.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/lib/bootstrap/dist/js/bootstrap.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/js/component-script.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/js/department-units-script.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/js/department-script.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/js/app-script.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/js/app-other-script.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/js/app-table-script.js");
        
    }
    @Html.GenerateScripts(ResourceLocation.Footer)
    @await RenderSectionAsync("Scripts", required: false)
    
    <script>
        window.ADMIN_LOGOUT_URL = '@Url.Action("Logout", "Support", new { area = "Admin" })';
    </script>

</body>
</html>


