@model PageComponentViewModel
@{
    var content = (IHtmlContent)ViewData["Content"];
}

<div class="grc-page-component" data-component="@Model.ComponentKey">

    <!-- Header -->
    <div class="grc-component-header">

        <div class="component-label">
            <span>
                @Html.Raw(ILocalize.GetLocalizedLabel($"Component.Key.{Model.ComponentKey}"))
            </span>
        </div>

        <div class="component-header-left">
            @{
               if(Model.LeftActions != null && Model.LeftActions.Count > 0)
               {
                    foreach (var action in Model.LeftActions)
                    {
                        string btnClass = $"action-btn-{action.ActionKey}";
                        <button class="action-btn @btnClass" data-action="@action.ActionKey" title="@action.Tooltip">
                            <span><i class="@action.Icon"></i></span>
                            <span>@Html.Raw(action.Tooltip)</span>
                        </button>
                    }
                }
            }
        </div>
        @{
            string dropId = $"dropdownAction{Model.ComponentId}";
            string filterClass = "filter-btn";
        }
        <div class="component-header-right">

            <button class="icon-btn @filterClass" data-action="filter" title="@Html.Raw(ILocalize.GetLocalizedLabel("Component.Label.Filter"))">
                <span> <i class="mdi mdi-filter-outline"></i></span>
            </button>

            <div class="header-more-list">
                <button class="icon-btn status-indicator" title="@Html.Raw(ILocalize.GetLocalizedLabel("Component.Label.MoreAction"))">
                    <span> <i class="mdi mdi-format-align-justify"></i></span>
                </button>

                <div id="@dropId" class="more-actions-dropdown">
                    <button class="dropdown-item" data-action="add-to-dashboard" title="@Html.Raw(ILocalize.GetLocalizedLabel("Component.Label.Share"))">
                        <span><i class="mdi mdi-pin-outline"></i></span>
                        <span>@Html.Raw(ILocalize.GetLocalizedLabel("Component.Label.QuickAction"))</span>
                    </button>
                    <button class="dropdown-item" data-action="create-shortcut" title="@Html.Raw(ILocalize.GetLocalizedLabel("Component.Label.Share"))">
                        <span><i class="mdi mdi-shuffle-variant"></i></span>
                        <span>@Html.Raw(ILocalize.GetLocalizedLabel("Component.Label.Shortcut"))</span>
                    </button>
                    <button class="dropdown-item" data-action="export-data" title="@Html.Raw(ILocalize.GetLocalizedLabel("Component.Label.Share"))">
                        <span><i class="mdi mdi-file-excel-outline"></i></span>
                        <span>@Html.Raw(ILocalize.GetLocalizedLabel("Component.Label.Export"))</span>
                    </button>
                    <button class="dropdown-item" data-action="share" title="@Html.Raw(ILocalize.GetLocalizedLabel("Component.Label.Share"))">
                        <span><i class="mdi mdi-share-outline"></i></span>
                        <span>@Html.Raw(ILocalize.GetLocalizedLabel("Component.Label.Share"))</span>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <!-- Content -->
    <div class="grc-component-content">
        @content
    </div>

</div>