@using Microsoft.AspNetCore.Html
@model PageComponentViewModel
@{
    var content = (IHtmlContent)ViewData["Content"];
}

<div class="grc-page-component" data-component="@Model.ComponentKey">

    <!-- Header -->
    <div class="grc-component-header">

        <div class="component-label">
            <span>
                @Html.Raw(ILocalize.GetLocalizedLabel("Component.Key.Departments"))
            </span>
        </div>

        <div class="component-header-left">
            @foreach (var action in Model.LeftActions)
            {
                <button class="action-btn" data-action="@action.ActionKey" title="@action.Tooltip">
                    <span><i class="@action.Icon"></i></span>
                    <span>@Html.Raw(@action.Tooltip)</span>
                </button>
            }
        </div>

        <div class="component-header-right">

            <button class="icon-btn" data-action="filter" title="Filter">
                <span> <i class="mdi mdi-filter-outline"></i></span>
            </button>

            <div class="header-more-list">
                <button class="icon-btn status-indicator" id="moreActionsBtn" title="More Actions">
                    <span> <i class="mdi mdi-format-align-justify"></i></span>
                </button>

                <div class="more-actions-dropdown" id="moreActionsDropdown">
                    <a href="#" class="dropdown-item" data-action="add-to-dashboard">
                        <span><i class="mdi mdi-pin-outline"></i></span>
                        <span>@Html.Raw(ILocalize.GetLocalizedLabel("Component.Label.QuickAction"))</span>
                    </a>
                    <a href="#" class="dropdown-item" data-action="create-shortcut">
                        <span><i class="mdi mdi-shuffle-variant"></i></span>
                        <span>@Html.Raw(ILocalize.GetLocalizedLabel("Component.Label.Shortcut"))</span>

                    </a>
                    <a href="#" class="dropdown-item" data-action="export-data">
                        <span><i class="mdi mdi-file-excel-outline"></i></span>
                        <span>@Html.Raw(ILocalize.GetLocalizedLabel("Component.Label.Export"))</span>
                    </a>
                    <a href="#" class="dropdown-item" data-action="share">
                        <span><i class="mdi mdi-share-outline"></i></span>
                        <span>@Html.Raw(ILocalize.GetLocalizedLabel("Component.Label.Share"))</span>

                    </a>
                </div>
            </div>
        </div>

        <button id="compExpandBtn" class="icon-btn expand-btn" data-action="expand" title="Full Screen">
            <span><i id="compExpandIncon" class="mdi mdi-arrow-expand"></i></span>
        </button>

    </div>

    <!-- Content -->
    <div class="grc-component-content">
        @content
    </div>

</div>

